{% extends base_layout %}

{% block title %}
        About - {{app_name}}
{% endblock %}
{% block header_title %}

{% endblock %}

{% block content %}
<!--=== Breadcrumbs ===-->
<div class="row-fluid breadcrumbs margin-bottom-40">
	<div class="container">
        <h1 class="pull-left">Create an ActiMom Group Overnight</h1>
        <ul class="pull-right breadcrumb">
            <li><EM>"Coordinate Spontaneously"</EM></li>
        </ul>
    </div><!--/container-->
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->


<!--=== Content Part ===-->
<div class="container">

</div><!--/container-->

<div class="container-fluid one-page">


    <div class="one-page-inner one-grey">
        <div class="container">
            <h1>It's easy to form(alize) a group</h1>

            <div class="row-fluid">
              <div class="span3"><img class="" src="../img/AMaboutLeader1.png"></img></div>
              <div class="span3"><img class="" src="../img/AMaboutLeader2.png"></img></div>
              <div class="span3"><img class="" src="../img/AMaboutLeader3.png"></img></div>
              <div class="span3"><img class="" src="../img/AMaboutLeader4.png"></img></div>
            </div><!--/row-fluid-->

        </div>
    </div>

    <a name="GroupOrgSignUp"></a>
    <div class="one-page-inner one-red">
        <div class="container">

            <h1>And it's quick for Group Organizers to get started!</h1>
            <div class="row-fluid">
                <div class="span9">
                    <p>Group organizers control the membership of the ActiMom groups. You can add members to your group by sending them an email with an individual security code they will use during the sign-up. The single-use security code ensures that only the people that you invite can join your group.<BR><BR>

                    <STRONG>Fill out the request <a href="http://goo.gl/UG0uXX"><STRONG>form</STRONG></a> to get a pack of single use codes</STRONG>. A founding member of the ActiMom team will review the request and issue you a pack of codes. <BR><BR>

                    Once you get a pack of codes, you'll send out individualized invitation emails to the group members. Remember that the codes are single use only, so please send one code per person. <STRONG>Take the first step and get a pack of codes</STRONG>. If you have questions or need any help along the way, please remember that we+SupportYou@ ActiMom.com
                    </p>
                </div>
                <div class="span3">
                    <a href="http://goo.gl/UG0uXX" class="btn-u btn-u-large btn-u-green one-page-btn"><i class="icon-thumbs-up"></i> Get Your Pack</a>
                </div>
            </div>
        </div>
    </div>

    <div class="one-page-inner one-blue">
        <div class="container">
            <div class="row-fluid">
                <div class="span9">
                    <h1>Need more info?</h1 >
                    <p>Take a look at the <a href="/about">About</a> page to see why the ActiMom coordination service is <STRONG>more private and convenient than Facebook groups</STRONG> or mass emails. Or send us an email with questions and comments to we+SupportYou@ ActiMom.com</p>
                     </p>
                </div>


            </div>
        </div>
    </div>

</div><!--/container-fluid-->
<!-- End Content Part -->

{% endblock %}

{% block mediaJS %}
<script type="text/javascript">

</script>

<!-- JS Page Level -->
<script type="text/javascript" src="/assets/js/app.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();
        App.initSliders();
    });
</script>

{% endblock %}

