{% extends base_layout %}

{% block title %}
        About - {{app_name}}
{% endblock %}
{% block header_title %}

{% endblock %}

{% block content %}
<!--=== Breadcrumbs ===-->
<div class="row-fluid breadcrumbs margin-bottom-40">
	<div class="container">
        <h1 class="pull-left">About ActiMom</h1>
        <ul class="pull-right breadcrumb">
            <li><EM>"Coordinate Spontaneously"</EM></li>
        </ul>
    </div><!--/container-->
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->


<!--=== Content Part ===-->
<div class="container">

    <div class="row-fluid">
          <div class="span4"><img class="" src="../img/AMaboutMain1.png"></img></div>
          <div class="span4"><img class="" src="../img/AMaboutMain2.png"></img></div>
          <div class="span4"><img class="" src="../img/AMaboutMain3.png"></img></div>
   </div><!--/row-fluid-->
    <div class="row-fluid">
          <div class="span2"></div>
          <div class="span4"><img class="" src="../img/AMaboutMain4.png"></img></div>
          <div class="span4"><img class="" src="../img/AMaboutMain5.png"></img></div>
          <div class="span2"></div>
   </div><!--/row-fluid-->


    <BR>
    <div class="headline"><h3>ActiMom functions are simple</h3></div>
    <!-- Service Blocks -->
        <div class="row-fluid">
            <div class="span4">
                <div class="service clearfix">
                    <i class="icon-calendar"></i>
                    <div class="desc">
                        <h4>Post an Activity</h4>
                        <p>Any group member can propose an activity or an event. If others join, it commences, otherwise, it expires.</p>
                    </div>
                </div>
            </div>
            <div class="span4">
                <div class="service clearfix">
                    <i class="icon-calendar-empty"></i>
                    <div class="desc">
                        <h4>Announce Interest</h4>
                        <p>Sometimes it's better to leave planning to someone else. Announce a timed interest and we'll find a match.</p>
                    </div>
                </div>
            </div>
            <div class="span4">
                <div class="service clearfix">
                    <i class="icon-signal"></i>
                    <div class="desc">
                        <h4>See Activity Pipeline</h4>
                        <p>View forming group activities and see matches for your interest. Join an activity from here.</p>
                    </div>
                </div>
            </div>
        </div><!--/row-fluid-->
    <!-- //End Service Blokcs -->
<BR><BR>
</div><!--/container-->

<div class="container-fluid one-page">

    <div class="one-page-inner one-blue">
        <div class="container">
            <div class="row-fluid">
                <div class="span6">
                    <h3>Why ActiMom</h3>
                    <p>Above all we're parents. The developers of this service have toddlers: 2 and 3 years (and another one is on the way). We <EM>know</EM> how difficult it is to be social and to socialize our kids. <STRONG>We created ActiMom to make it possible for moms to connect on short notice</STRONG>. <BR><BR></p>
                    <p>Now the question of "Who wants to meet at the fountain in an hour?" can be asked without contacting each group member individually. Simply post your plans or interests and let ActiMom make the connections.<BR><BR></p>
                    <p><STRONG>ActiMom groups are exclusive</STRONG>: the services is as an extension of your existing mom group(s). The group organizer sends single use invitation codes to the people she trusts. Outsiders can't join without an explicit invitation from the group organizer. <BR><BR></p>
                    <p>ActiMom is <STRONG>more private than your Facebook groups and ListServs</STRONG>. The activities and interests posted on ActiMom are only visible to the group members. And once the posts commence or expire, they disappear. <STRONG> That's real privacy</STRONG>. Nobody needs to know what you planned or did yesterday.
                    <br><br>
                     </p>
                </div>

                <div class="span6">
                    <H3> </H3>
                </div>
            </div>
        </div>
    </div>



    <div class="one-page-inner one-grey">
        <div class="container">
            <h1>It's easy to form(alize) a group</h1>

            <div class="row-fluid">
              <div class="span3"><img class="" src="../img/AMaboutLeader1.png"></img></div>
              <div class="span3"><img class="" src="../img/AMaboutLeader2.png"></img></div>
              <div class="span3"><img class="" src="../img/AMaboutLeader3.png"></img></div>
              <div class="span3"><img class="" src="../img/AMaboutLeader4.png"></img></div>
            </div><!--/row-fluid-->

        </div>
    </div>
 <a name="GroupOrgSignUp"></a>
    <div class="one-page-inner one-red">
        <div class="container">

            <h1>Group Organizer Sign Up</h1>
            <div class="row-fluid">
                <div class="span9">
                    <p>Group organizers control the membership of the ActiMom groups. You can add members to your group by sending them an email with an individual security code they will use during the sign-up. The single-use security code ensures that only the people that you invite can join your group.<BR><BR>

                    Fill out the request <a href="http://goo.gl/UG0uXX"><STRONG>form</STRONG></a> to get a pack of single use codes. A founding member of the ActiMom team will review the request and issue you a pack of codes. <BR><BR>

                    Once you get a pack of codes, you'll send out individualized invitation emails to the group members. Remember that the codes are single use only, so please send one code per person. Take the first step and get a pack of codes. If you have questions or need any help along the way, please remember that we+SupportYou@ ActiMom .com
                    </p>
                </div>
                <div class="span3">
                    <a href="http://goo.gl/UG0uXX" class="btn-u btn-u-large btn-u-green one-page-btn"><i class="icon-thumbs-up"></i> Get Your Pack</a>
                </div>
            </div>
        </div>
    </div>


</div><!--/container-fluid-->
<!-- End Content Part -->

{% endblock %}

{% block mediaJS %}
<script type="text/javascript">

</script>

<!-- JS Page Level -->
<script type="text/javascript" src="/assets/js/app.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();
        App.initSliders();
    });
</script>

{% endblock %}

