{% extends base_layout %}

{% block title %}
        About - {{app_name}}
{% endblock %}
{% block header_title %}

{% endblock %}

{% block content %}

<h3>About</h3>


    <div class="row-fluid">
        <div class="span12">


        <H3>Placeholder for the About page</H3>
            Actipond allows anybody who is part of a private Moms group to spontaneously create an activitity in which other group members can participate. Those who don't want to plan, but have
            have the desire to participate simply announce their interest and Actipond matches interests to activities if availability time windows align.

        </div><!--/span12-->

    </div><!--/row-fluid--> 


    
{% endblock %}

{% block mediaJS %}
<script type="text/javascript">

</script>
{% endblock %}

