{% extends base_layout %}

{% block title %}
        About - {{app_name}}
{% endblock %}
{% block header_title %}

{% endblock %}

{% block content %}
<!--=== Breadcrumbs ===-->
<div class="row-fluid breadcrumbs margin-bottom-40">
	<div class="container">
        <h1 class="pull-left">About ActiMom</h1>
        <ul class="pull-right breadcrumb">
            <li><EM>"Coordinate Spontaneously"</EM></li>
        </ul>
    </div><!--/container-->
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->


<!--=== Content Part ===-->
<div class="container">

    <div class="row-fluid">
          <div class="span4"><img class="" src="../img/AMaboutMain1.png"></img></div>
          <div class="span4"><img class="" src="../img/AMaboutMain2.png"></img></div>
          <div class="span4"><img class="" src="../img/AMaboutMain3.png"></img></div>
   </div><!--/row-fluid-->
    <div class="row-fluid">
          <div class="span2"></div>
          <div class="span4"><img class="" src="../img/AMaboutMain4.png"></img></div>
          <div class="span4"><img class="" src="../img/AMaboutMain5.png"></img></div>
          <div class="span2"></div>
   </div><!--/row-fluid-->


    <BR>
    <div class="headline"><h3>ActiMom functions are simple</h3></div>
    <!-- Service Blocks -->
        <div class="row-fluid">
            <div class="span4">
                <div class="service clearfix">
                    <i class="icon-calendar"></i>
                    <div class="desc">
                        <h4>Post an Activity</h4>
                        <p>Any group member can propose an activity or an event. If others join, it commences, otherwise, it expires.</p>
                    </div>
                </div>
            </div>
            <div class="span4">
                <div class="service clearfix">
                    <i class="icon-calendar-empty"></i>
                    <div class="desc">
                        <h4>Announce Interest</h4>
                        <p>Sometimes it's better to leave planning to someone else. Announce a timed interest and we'll find a match for a posted activity.</p>
                    </div>
                </div>
            </div>
            <div class="span4">
                <div class="service clearfix">
                    <i class="icon-signal"></i>
                    <div class="desc">
                        <h4>See Activity Pipeline</h4>
                        <p>View forming group activities and see matches for your interest. Join an activity from here.</p>
                    </div>
                </div>
            </div>
        </div><!--/row-fluid-->
    <!-- //End Service Blokcs -->
<BR><BR>
</div><!--/container-->

<div class="container-fluid one-page">

    <div class="one-page-inner one-blue">
        <div class="container">
            <div class="row-fluid">
                <div class="span6">
                    <h3>Why ActiMom</h3>
                    <p>The developers of this service have young children (20 months and 3 years). We <EM>know</EM> how difficult it is to be social and to socialize our kids. We created ActiMom to make it easier for moms to connect and do stuff on short notice.</p>
                    <p>Now the question of "I wonder if someone else wants to go to the Ballston fountain at 2?" can be answered without contacting each group member individually. Those who are in the mood for doing something in the next 30 minutes to some hours later always know to check with ActiMom to see if there are other like minded people.</p>
                    <p>ActiMom is private. The group organizer sends single use invitation codes to people she trusts. People in your group are the people you know or someone else in the group knows.</p>
                    <br><br>
                </div>

                <div class="span6">
                    <H3> </H3>
                </div>
            </div>
        </div>
    </div>



    <div class="one-page-inner one-grey">
        <div class="container">
            <h1>It's easy to form(alize) a group</h1>

            <div class="row-fluid">
              <div class="span3"><img class="" src="../img/AMaboutLeader1.png"></img></div>
              <div class="span3"><img class="" src="../img/AMaboutLeader2.png"></img></div>
              <div class="span3"><img class="" src="../img/AMaboutLeader3.png"></img></div>
              <div class="span3"><img class="" src="../img/AMaboutLeader4.png"></img></div>
            </div><!--/row-fluid-->

        </div>
    </div>

    <div class="one-page-inner one-red">
        <div class="container">
            <h1>Get your group organizer codes to invite members</h1>
            <div class="row-fluid">
                <div class="span9">
                    <p>Tell us your group name and we'll email you a pack of 20 codes to send to your mom friends. The service is free, and privacy of your group members is assured.</p>
                </div>
                <div class="span3">
                    <a href="{{ uri_for("register") }}" class="btn-u btn-u-large btn-u-green one-page-btn"><i class="icon-thumbs-up"></i> Get Your Pack</a>
                </div>
            </div>
        </div>
    </div>


</div><!--/container-fluid-->
<!-- End Content Part -->

{% endblock %}

{% block mediaJS %}
<script type="text/javascript">

</script>

<!-- JS Page Level -->
<script type="text/javascript" src="/assets/js/app.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();
        App.initSliders();
    });
</script>

{% endblock %}

