{% extends base_layout %}

{% block title %}
        {% trans %}Activity Detail{% endtrans %} - {{app_name}}
{% endblock %}
{% block header_title %}
        {% trans %}Activity Detail{% endtrans %}
{% endblock %}

{% block content %}
Test only. The way this needs to work is when you click on "view detail" link for a specific activity it brings you to this page showing the details for an activity. For now the silly form submission is here since we haven't figured out a simple way to dynamically generate a link on the Live Board (stat.html) page to pass data between pages for a specific activity. This requires creating a hidden link for each of the activity items listed ina table. This needs to get done. 


<BR><BR>
{{activity_detail}}
<BR><BR>

 <form id="form_activity_detail" action="{{ url|safe }}" method="post" class="well form-horizontal">
        <fieldset>
            <input type="hidden" name="exception" value="{{ exception }}">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
            {{ macros.field(form.test_key, label=_("Test Key"), placeholder=_("Paste test")+" "+_("key"), class="input-xlarge focused required") }}
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">{% trans %}Load a record{% endtrans %}</button>
            </div>
        </fieldset>
    </form>
<BR><BR><BR>

<H3>Activity Detail</H3>
<table class="table table-striped table-bordered">

    <thead>
        <tr>
            <th>What</th>
            <th>Detail</th>
        </tr>
    </thead>

    <tr><TD>Category:</TD> <TD></TD></tr>
    <tr><TD>Sub Category:</TD> <TD></TD></tr>
    <tr><TD>Min number to join:</TD> <TD></TD></tr>
    <tr><TD>Duration:</TD> <TD></TD></tr>
    <tr><TD>Expires in:</TD> <TD></TD></tr>
    <tr><TD>Note:</TD> <TD></TD></tr>
</table>



{% endblock %}



{% block mediaJS %}
<script type="text/javascript">
    $().ready(function() {
        $("#form_contact").validate({
            errorPlacement: function(error, element) {
                element.parent().parent().addClass("error");
                error.addClass("help-inline").appendTo( element.parent() );
            }
        });
    });
</script>
{% endblock %}

