{% extends base_layout %}

{% block title %}
    {% trans %}Activity Detail{% endtrans %} - {{ app_name }}
{% endblock %}
{% block header_title %}
    {% trans %}Activity Detail{% endtrans %}
{% endblock %}

{% block content %}
    <hr/>
    <div class="media">
        <div class="media-object">
            <a href="/user_profile/?username={{ event.username }}">
                <!--img class="avatar" src="../img/user.jpg"/-->
                <img class="avatar" src="/user/avatar/?user_name={{ event.username }}"/>
            </a>
        </div>
        <div class="media-body">
            <div data-class="main-content-area">
                <h4 class="media-heading">
                    <span class="subject">
                        <a href="/activity_detail/?ID={{ event.key.urlsafe() }}">{{ event.category }}</a>
                    </span>
                    <span class="timestamp">{{ event.date_entered | dateformat }}</span>
                </h4>
                <h5 class="media-author">
                        <span class="user-name">Posted by <a
                                href="/user_profile/?username={{ event.username }}">{{ event.username }}</a></span>
                </h5>

                <p data-class="post-content">
                    {{ event.note }}
                </p>

                <div class="media-scope">
                    Starting in {{ event.key.urlsafe() |expires_in  | minute_format}} for {{ event.duration }} minutes
                </div>
                <div class="media-actions">
                     <span>
                        {% if event.type ==  'ACTIVITY' %}
                            {% set activity_display_status = event.key.urlsafe() | display_status(user_id) %}

                            {% if activity_display_status == 'JOIN' %}
                                <a class="btn btn-primary btn-mini " href="/join_activity/?key={{ event.key.urlsafe() }}">
                                    <span data-class="label">Join</span>
                                </a>
                            {% else %}
                                <a class="btn btn-inverse btn-mini liked"  }}">
                                <span data-class="label">{{ activity_display_status }}</span>
                                </a>
                            {% endif %}
                        {% else %}
                            {% if event.status == 'INITIATED' %}
                                <a class="open-cancel-confirm-dialog btn btn-primary btn-mini" data-toggle="modal"
                                   data-id="{{ event.key.urlsafe()}}"">
                                <span data-class="label">Convert to Activity</span>
                                </a>
                            {% endif %}

                        {% endif %}
                     </span>
                </div>
            </div>
            {% if event.type == 'ACTIVITY' and event.status != 'INITIATED' %}
                {% set activity_participants = event.key.urlsafe() | get_all_companions %}
                {% if activity_participants | length > 0 %}
                    <div class="media-comments  show" data-num-comments="1" data-class="comment-like-container">
                        <div class="media-thanks" data-class="like-container">
                            <p>
                                <span class="comment-count"><i class="glyphicon-star"></i></span>
                                {% if  activity_participants | length > 1 %}
                                    <span>{{ activity_participants | join }} have joined</span>
                                {% else %}
                                    <span>{{ activity_participants | join }} has joined</span>
                                {% endif %}
                            </p>
                        </div>
                    </div>
                {% endif %}

            {% endif %}
        </div>
    </div>
    <hr/>

{% endblock %}



{% block mediaJS %}
    <script type="text/javascript">
        $().ready(function () {
            $("#form_contact").validate({
                errorPlacement: function (error, element) {
                    element.parent().parent().addClass("error");
                    error.addClass("help-inline").appendTo(element.parent());
                }
            });
        });
    </script>
{% endblock %}

<a href="/Admin_Console?filter=Financial">
    <button type="button">Financial</button>
</a>