{% extends base_layout %}

{% block title %}
        {% trans %}Activity Detail{% endtrans %} - {{app_name}}
{% endblock %}
{% block header_title %}
        {% trans %}Activity Detail{% endtrans %}
{% endblock %}

{% block content %}
The way this needs to work is when you click on "detail" link for a specific activity it brings you to this page showing the details for an activity. 

<BR><BR>

<H3>Activity Detail</H3>
<table class="table table-striped table-bordered">

    <thead>
        <tr>
            <th>What</th>
            <th>Detail</th>
        </tr>
    </thead>

    <tr><TD>Kind: {{ a.kind }}</TD> <TD></TD></tr>
    <tr><TD>Key: {{ a.key }}</TD> <TD></TD></tr>
    <tr><TD>ID: </TD> <TD></TD></tr>
    <tr><TD>category: {{ a.category }}</TD> <TD></TD></tr>
    <tr><TD>date_entered: {{ a.date_entered }}</TD> <TD></TD></tr>
    <tr><TD>duration:  {{ a.duration }}</TD> <TD></TD></tr>
    <tr><TD>expiration:  {{ a.expiration }}</TD> <TD></TD></tr>
    <tr><TD>ip:  {{ a.ip }}</TD> <TD></TD></tr>
    <tr><TD>max_number_of_people_to_join:  {{ a.max_number_of_people_to_join }}</TD> <TD></TD></tr>
    <tr><TD>min_number_of_people_to_join:  {{ a.min_number_of_people_to_join }}</TD> <TD></TD></tr>
    <tr><TD>note:  {{ a.note }}</TD> <TD></TD></tr>
    <tr><TD>username:  {{ a.username }}</TD> <TD></TD></tr>
    
</table>



{% endblock %}



{% block mediaJS %}
<script type="text/javascript">
    $().ready(function() {
        $("#form_contact").validate({
            errorPlacement: function(error, element) {
                element.parent().parent().addClass("error");
                error.addClass("help-inline").appendTo( element.parent() );
            }
        });
    });
</script>
{% endblock %}

<a href="/Admin_Console?filter=Financial"><button type="button" >Financial</button></a>