{% extends base_layout %}

{% block header_title %}
    {% trans %}Edit Profile{% endtrans %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row-fluid">
        <div class="span12">
            <fieldset>
                <form id="form_edit_profile" action="{{ url|safe }}" method="post" enctype="multipart/form-data">
            <div class="span3">
                <div class="fileupload fileupload-new" data-provides="fileupload">
                    <div class="fileupload-new thumbnail" style="width: 150px; height: 150px;">
                        {% if hasAvatar %}
                            <img src="/user/avatar/?user_name={{ user_name}}" />
                        {% else %}
                            <img src="../img/user.jpg" />
                        {% endif %}
                    </div>
                    <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 200px; max-height: 150px; line-height: 20px;"></div>
                    <div>
                        <span class="btn btn-file"><span class="fileupload-new">Select picture</span><span class="fileupload-exists">Change</span><input type="file" name="avatar"/></span>
                        <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>
                    </div>
                </div>


            </div>
            <div class="span9 well form-horizontal">


                        <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                        {{ macros.field(form.username, label=_("Username"), placeholder=_("Enter your")+" "+_("Username"), class="input-xlarge focused required") }}
                        {{ macros.field(form.name, label=_("Name"), placeholder=_("Enter your")+" "+_("Name"), class="input-xlarge focused") }}
                        {{ macros.field(form.last_name, label=_("Last Name"), placeholder=_("Enter your")+" "+_("Last Name"), class="input-xlarge focused") }}
                        {{ macros.field(form.twitter_screen_name, label=_("Twitter"), placeholder=_("Enter your")+" "+_("screen name (optional)"), class="input-xlarge focused") }}
                        {{ macros.field(form.about_me, label=_("About me"), placeholder=_("A few words about yourself"), class="input-xlarge focused") }}
                        {{ macros.field(form.interests, label=_("Interests"), placeholder=_("Enter what kind of activities you like doing"), class="input-xlarge focused") }}

                        <div class="control-group">
                            <label class="control-label">Email:</label>

                            <div class="controls">
                                {{ email }} (<a href="{{ uri_for('edit-email') }}">{% trans %}Change your
                                email{% endtrans %}</a>)
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="controls">
                                <a href="{{ uri_for("edit-password") }}">{% trans %}Change your password{% endtrans %}</a>
                            </div>
                        </div>
                        <div class="form-actions">
                            <button type="submit" class="btn-u">{% trans %}Update Profile{% endtrans %}</button>
                        </div>
                        {% if enable_federated_login %}
                            {% if used_providers %}
                                <div id="trird_party_login" class="existing-accociation">
                                    <h4>{% trans %}Existing social association{% endtrans %}:</h4>
                                    <table class=" social-login-icons">
                                        {% for provider in used_providers %}
                                            <tr>
                                                <td><a href="#" class="social-btn social-btn-{{ provider.name }}"
                                                       title="{{ provider.label }}"></a></td>
                                                {% if used_providers|length > 1 or local_account %}
                                                    <td>
                                                        <form id="delete_social"
                                                              action="/social_login/{{ provider.name }}/delete"
                                                              method="post" provider="{{ provider.name }}">
                                                            <input type="hidden" name="_csrf_token"
                                                                   value="{{ csrf_token() }}">
                                                            <button class="btn btn-danger" type="submit"><i class="icon-trash icon-white"></i>&nbsp;Remove</button>
                                                        </form>
                                                    </td>
                                                {% endif %}
                                            </tr>
                                        {% endfor %}
                                    </table>
                                </div>
                            {% endif %}
                            {% if unused_providers %}
                                <div id="trird_party_login" class="form-actions">
                                    <h4>{% trans %}Associate account with{% endtrans %}:</h4>

                                    <div class="social-login-icons">
                                        {% for provider in unused_providers %}
                                            <a href="{{ provider_uris[provider.name] }}"
                                               class="social-btn social-btn-{{ provider.name }}"
                                               title="{{ provider.label }}">{{ provider.label }}</a>
                                        {% endfor %}
                                    </div>
                                <h4>Need to delete your account?</h4>
                                    <p>Please email us with a request to we+SorryToSeeYouGo@ActiMom.com from your email account used for ActiMom.com</p>
                                </div>
                            {% endif %}
                        {% endif %}
                    </form>
                    </fieldset>
            </div>
        </div>
    </div>
</div><!--/container-->
{% endblock %}

{% block mediaJS %}
    <script type="text/javascript">
        $().ready(function () {
            $("#form_edit_profile").validate({
                submitHandler: function (form) {
                    form.submit();
                },
                errorPlacement: function (error, element) {
                    element.parent().parent().addClass("error");
                    error.addClass("help-inline").appendTo(element.parent());
                }
            });
        });
        $('#uploader1').transloaditUploader({key: '462bdcc750904ded81b7d43c7d9715fa', template: '9534bd73c7b645d79f5306b63d876446'});
    </script>
{% endblock %}

