
{% block content %}
    <events>
    {% for e in events %}
        <cursor id="events_cursor" hasmore="{{ more }}" next_cursor='{{ cursor }}'/>
        <div class="media-object">
            <a href="/user_profile/?username={{ e.username }}">
                <!--img class="avatar" src="../img/user.jpg"/-->
                <img class="avatar" src="/user/avatar/?user_name={{ e.username }}"/>
            </a>
        </div>
        <div class="media-body">
            <div data-class="main-content-area">
                <h4 class="media-heading">
                    <span class="subject">
                        <a href="/activity_detail/?ID={{ e.key.urlsafe() }}">{{ e.category }}</a>
                    </span>
                    <span class="timestamp">{{ e.date_entered | dateformat }}</span>
                </h4>
                <h5 class="media-author">
                        <span class="user-name">Posted by <a
                                href="/user_profile/?username={{ e.username }}">{{ e.username }}</a></span>
                </h5>

                <p data-class="post-content">
                    {{ e.note }}
                </p>

                <div class="media-scope">
                    Starting in {{ e.key.urlsafe() |expires_in  | minute_format}} for {{ e.duration }} minutes
                </div>
                <div class="media-actions">
                     <span>
                        {% if e.type ==  'ACTIVITY' %}
                            {% set activity_display_status = e.key.urlsafe() | display_status(user_id) %}

                            {% if activity_display_status == 'JOIN' %}
                                <a class="btn btn-primary btn-mini " href="/join_activity/?key={{ e.key.urlsafe() }}">
                                    <span data-class="label">Join</span>
                                </a>
                            {% else %}
                                <a class="btn btn-inverse btn-mini liked"  }}">
                                <span data-class="label">{{ activity_display_status }}</span>
                                </a>
                            {% endif %}
                        {% else %}
                            {% if e.status == 'INITIATED' %}
                                <a class="open-cancel-confirm-dialog btn btn-primary btn-mini" data-toggle="modal"
                                   data-id="{{ e.key.urlsafe()}}"">
                                <span data-class="label">Convert to Activity</span>
                                </a>
                            {% endif %}

                        {% endif %}
                     </span>
                </div>
            </div>
            {% if e.type == 'ACTIVITY' and e.status != 'INITIATED' %}
                {% set activity_participants = e.key.urlsafe() | get_all_companions %}
                {% if activity_participants | length > 0 %}
                    <div class="media-comments  show" data-num-comments="1" data-class="comment-like-container">
                        <div class="media-thanks" data-class="like-container">
                            <p>
                                <span class="comment-count"><i class="glyphicon-star"></i></span>
                                {% if  activity_participants | length > 1 %}
                                    <span>{{ activity_participants | join }} have joined</span>
                                {% else %}
                                    <span>{{ activity_participants | join }} has joined</span>
                                {% endif %}
                            </p>
                        </div>
                    </div>
                {% endif %}

            {% endif %}
        </div>
        <hr/>
    {% endfor %}
    </events>
{% endblock %}