{% import "macros.html" as macros %}
{% block content %}
<!--=== Content Part ===-->
<div class="container">
	<div class="row-fluid">
        <div class="span9">
			<!--
            <div class="headline"><h2>I don't think we need a headline</h2></div>
            -->
            <!-- Accardion -->
            <div class="accordion acc-home margin-bottom-40" id="accordion2">
                <div class="accordion-group">
                  <div id="collapseOne" class="accordion-body in collapse" style="height: auto;">
                    <div class="accordion-inner">


                        <cursor id="events_cursor" hasmore="{{ more }}" next_cursor='{{ cursor }}'/>
                         <events>
                        <H3>Forming Activities</H3>
                        {% for event in events %}
                            <!-- not sure why this options works in reverse, but it achieves the goal of ONLY showing the Activities -->
                            {% if event.type == 'INTEREST_FLEX' %}
                                {% continue %}
                            {% endif %}
                            {% if event.status in ['CLOSED','CANCELLED','EXPIRED'] %}
                                {% continue %}
                            {% endif %}
                            {% set event_attributes = event_attributes_list[event.key.urlsafe()] %}
                            {% if not event_attributes['can_join'] and   not event_attributes['can_leave'] and not event_attributes['can_cancel'] and not event_attributes['has_feedback']%}
                                    {% continue %}
                            {% endif %}
                            {{ macros.show_event(event,username,event_attributes_list) }}
                        {% endfor %}

                        <H3>Active Interests</H3>
                        {% for event in events %}
                        <!-- Now show what interests are floating out there... - but take no action -->
                            {% if event.type == 'INTEREST_SPECIFIC' %}
                                {% continue %}
                            {% endif %}
                            {% if event.status in ['CLOSED','CANCELLED','EXPIRED'] %}
                                {% continue %}
                            {% endif %}
                            {% set event_attributes = event_attributes_list[event.key.urlsafe()] %}
                            {% if not event_attributes['can_join'] and   not event_attributes['can_leave'] and not event_attributes['can_cancel'] and not event_attributes['has_feedback']%}
                                    {% continue %}
                            {% endif %}
                            {{ macros.show_event(event,username,event_attributes_list) }}
                        {% endfor %}
                        </events>
                    </div>
                  </div>
                </div><!--/accordion-group-->
            </div><!--/accardion-->
		</div><!--/span9-->


		<div class="span3">
            <!-- How to join -->
            <div class="headline"><h3>Forming Activities</h3></div>
            <p>You can request to join any of the forming activities. These activities have a set start time and location. You can also post your own <a href="/act">activity</a> to this list.</p>

            <!-- Option B -->
            <div class="headline"><h3>Active Interests</h3></div>
            <p>This list tells you what others are in the mood for right now. Post to this <a href="/int">list</a> to broadcast your time bound interest without committing. Or post an <a href="/act">activity</a> to send a notifications to people with common interest.</p>
        </div><!--/span3-->
    </div><!--/row-fluid-->
</div><!--/container-->
<!--=== End Content Part ===-->
{% endblock %}