{% extends base_layout %}

{% block title %}
        {% trans %}Feedback{% endtrans %} - {{app_name}}
{% endblock %}
{% block header_title %}
        {% trans %}Feedback{% endtrans %}
{% endblock %}

{% block content %}


<BR>
<BR>
An ability to provide feedback is coming soon.

    <BR>
<BR>
    {{entity_keys}}
    <BR>
<BR>

 <form id="form_feedback" action="{{ url|safe }}" method="post" class="well form-horizontal">
        <fieldset>
            <input type="hidden" name="exception" value="{{ exception }}">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
            {{ macros.field(form.note, label=_("Note"), placeholder=_("your feedback ...")+" "+_("mind"), class="input-xlarge focused required") }}
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">{% trans %}Submit Feedback{% endtrans %}</button>
            </div>
        </fieldset>
    </form>

</table>


{% endblock %}

{% block mediaJS %}
<script type="text/javascript">
    $().ready(function() {
        $("#form_contact").validate({
            errorPlacement: function(error, element) {
                element.parent().parent().addClass("error");
                error.addClass("help-inline").appendTo( element.parent() );
            }
        });
    });
</script>
{% endblock %}

