<!DOCTYPE html>
<!--[if IE 7]> <html lang="en" class="ie7"> <![endif]-->  
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->  
<head>
    <title>JoinHour | Record breaking resident retention through communities that feel alive</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="JoinHour | Record breaking resident retention through communities that feel alive.">
    <meta name="author" content="Firebrand Fuse LLC">

    <!-- CSS Global Compulsory-->
    <link rel="stylesheet" href="/assets/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/headers/header1.css">
    <link rel="stylesheet" href="/assets/plugins/bootstrap/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="/assets/css/style_responsive.css">
    <link rel="shortcut icon" href="favicon.ico">        
    <!-- CSS Implementing Plugins -->    
    <link rel="stylesheet" href="/assets/plugins/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="/assets/plugins/flexslider/flexslider.css" type="text/css" media="screen">          
     <!-- CSS Theme -->    
    <link rel="stylesheet" href="/assets/css/themes/blue.css" id="style_color">
    <link rel="stylesheet" href="/assets/css/themes/headers/header1-blue.css" id="style_color-header-1">
</head>	

<body>
 

<!--=== Top ===-->    
<div class="top">
    <div class="container">         
        <ul class="loginbar pull-right">
            <li><i class="icon-globe"> </i> <a href="get.html">About</a></li>   
            <!--=== JH: Reserved 
            <li class="devider">&nbsp;</li>
            <li><a href="#" class="login-btn">Sign Up</a></li>  
            <li class="devider">&nbsp;</li>
            <li><a href="#" class="login-btn">Login</a></li> 
            ===-->   
        </ul>
    </div>      
</div><!--/top-->
<!--=== End Top ===-->    

<!--=== Header ===-->
<div class="header">               
    <div class="container"> 
        <!-- Logo -->       
        <div class="logo">                                             
            <a href="index.html"><img id="logo-header" src="../img/logo1-default.png" alt="Logo"></a>
        </div><!-- /logo -->        
                                    
        <!-- Menu -->       
        <div class="navbar">                                
            <div class="navbar-inner">                                  
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a><!-- /nav-collapse -->                                  
                <div class="nav-collapse collapse">                                     
                    <ul class="nav top-2">
                        <li class="active">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Property Managers
                                <b class="caret"></b>                            
                            </a>
                            <ul class="dropdown-menu">
                                <li class="active"><a href="get.html">Get JoinHour</a></li>
                                <li><a href="get.html">Contact</a></li>
                            </ul>
                            <b class="caret-out"></b>                        
                        </li>
                
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Get It
                                <b class="caret"></b>                            
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="get.html">Get JoinHour</a></li>
                            </ul>
                            <b class="caret-out"></b>                        
                        </li>
                    </ul>
                </div><!-- /nav-collapse -->                                
            </div><!-- /navbar-inner -->
        </div><!-- /navbar -->                          
    </div><!-- /container -->               
</div><!--/header -->      
<!--=== End Header ===-->





<!--=== Content Part ===-->
<div class="container">     
    <div class="row-fluid">
        <div class="span7">
            <p><h4> We want to ensure JoinHour is a fit for your property. Give us the priveledge of speaking with you about your resident retention tactics and quality of life improvements you would lie to achive.</h4></p>
            <form>
                <label>Name</label>
                <input type="text" class="span7" />
                <label>Property Name</label>
                <input type="text" class="span7" />
                <label>Email</label>
                <input type="text" class="span7" />
                <label>Anything we can do to prepare for a conversation with you?</label>
                <textarea rows="3" class="span7"></textarea>
                <p><button type="submit" class="btn-u">Give Us The Priveledge Of Having A Conversation With You</button></p>
            </form>
        </div><!--/span9-->

        <div class="span3">
            

            <!-- Why we are? -->
            <div class="headline"><h3>Social Proof</h3></div>
            <p>Property managers agree that people want to live and stay at multifamily properties that feel alive. See this NAA LinkedIn Group <a href="http://www.linkedin.com/groupAnswers?viewQuestionAndAnswers=&discussionID=248569490&gid=1141097&commentID=144911797&goback=%2Egmr_1141097%2Eamf_1141097_2768254&trk=NUS_DISC_Q-subject#commentID_144911797">post</a>.</p>
            <ul class="unstyled">
                <li><i class="icon-ok color-green"></i> Record breaking retention</li>
                <li><i class="icon-ok color-green"></i> Residents become advocates on ApartmentRatings.com</li>
                <li><i class="icon-ok color-green"></i> Diffirentiating digital amenity</li>
            </ul>

            <!-- Contacts -->
            <div class="headline"><h3>Contact Details</h3></div>
            <ul class="unstyled who margin-bottom-20">
                <li><a href="mailto:we+pub@JoinHour.com"><i class="icon-envelope-alt"></i>we+pub@JoinHour.com</a></li>
                <li><a href="#"><i class="icon-phone-sign"></i>(202) 643 3473</a></li>
                <li><a href="http://www.FirebrandFuse.com"><i class="icon-globe"></i>FirebrandFuse.com</a></li>
                <li><a href="#"><i class="icon-home"></i>Firebrand Fuse LLC. 4201 Wilson Blvd. Suite #110-355, Arlington, VA 22203</a></li>
            </ul>
        </div><!--/span3-->        
    </div><!--/row-fluid-->        
</div><!--/container-->     
<!--=== End Content Part ===-->











<!--=== Content Part ===-->
<div class="container">	
	
	<!-- Information Blokcs -->
	<div class="row-fluid margin-bottom-20">
    	<!-- Who We Are -->
		<div class="span7">
			<div class="headline"><h3>Unconditional Money Back Guarantee</h3></div>
			<p><img class="pull-left lft-img-margin img-width-200" src="assets/img/carousel/6.jpg" alt="" />If you're not satisfied with the service we'll refund your money. Your residents will love JoinHour because:</p>	
            <ul class="unstyled">
            	<li><i class="icon-ok color-green"></i> They will connect with others immediately</li>
            	<li><i class="icon-ok color-green"></i> We put privacy above all</li>
            	<li><i class="icon-ok color-green"></i> Residents will feel part of the community</li>
            </ul><br>

            <blockquote class="hero-unify">
                <p>"Those of us who are concerned with buildings tend to forget too easily that all the life and soul of a place, all of our experiences there, depend not simply on the physical environment, but on the patterns of events which we experience there."</p>
                <small>Christopher Alexander - Professor Emeritus at the University of California, Berkeley. Practicing Architect and Builder.</small>
            </blockquote>
        </div><!--/span8-->        

        <!-- Latest Shots -->
        <div class="span4">
			<div class="headline"><h3>Activity Examples</h3></div>
			<div id="myCarousel" class="carousel slide">
                <div class="carousel-inner">
                  <div class="item active">
                    <img src="../img/carousel/1.jpg" alt="">
                    <div class="carousel-caption">
                      <p>Group Bike Ride - formed with two hours' notice.</p>
                    </div>
                  </div>
                  <div class="item">
                    <img src="../img/carousel/2.jpg" alt="">
                    <div class="carousel-caption">
                      <p>Tasty experiences should be explored in groups.</p>
                    </div>
                  </div>
                  <div class="item">
                    <img src="../img/carousel/3.jpg" alt="">
                    <div class="carousel-caption">
                      <p>Organize a pack walk in 30 minutes. Offer a bit of canine company to your pooch without a trip to a dog park.</p>
                    </div>
                  </div>
                  <div class="item">
                    <img src="../img/carousel/4.jpg" alt="">
                    <div class="carousel-caption">
                      <p>Find activity partner in minutes for jogging, tennis, basketball.</p>
                    </div>
                  </div>
                  <div class="item">
                    <img src="../img/carousel/5.jpg" alt="">
                    <div class="carousel-caption">
                      <p>Enjoy sunshine. Find 4 people to throw a Frisbee in minutes.</p>
                    </div>
                  </div>

                  <div class="item">
                    <img src="../img/carousel/6.jpg" alt="">
                    <div class="carousel-caption">
                      <p>Grab a beverage in 15 mins; explore a new venue.</p>
                    </div>
                  </div>
                  <div class="item">
                    <img src="../img/carousel/7.jpg" alt="">
                    <div class="carousel-caption">
                      <p>Split a cab at 6. We're heading in the same direction.</p>
                    </div>
                  </div>
                </div>
                
                <div class="carousel-arrow">
                    <a class="left carousel-control" href="#myCarousel" data-slide="prev"><i class="icon-angle-left"></i></a>
                    <a class="right carousel-control" href="#myCarousel" data-slide="next"><i class="icon-angle-right"></i></a>
                </div>
			</div>
        </div><!--/span4-->
	</div><!--/row-fluid-->	
	<!-- //End Information Blokcs -->


</div><!--/container-->		
<!-- End Content Part -->

<!--=== Footer ===-->
<div class="footer">
    <div class="container">
        <div class="row-fluid">
            <div class="span4">
                <!-- About -->
                <div class="headline"><h3>About</h3></div>  
                <p class="margin-bottom-25">JoinHour is an incredible digital amenity. It breaks resident retention records by growing communities that feel alive.</p> 

                <!-- Monthly Newsletter -->
                <div class="headline"><h3>Success Formula</h3></div>    
                <p>Our secret recipe: Ordinary Activities + Good People + Easy Way To Connect = Buildings That Feel Alive</p>
                <!-- JH: Save for later
                <form class="form-inline">
                    <div class="input-append">
                        <input type="text" placeholder="Email Address" class="input-medium">
                        <button class="btn-u">Subscribe</button>
                    </div>
                </form>     
                -->                 
            </div><!--/span4--> 
            
            <div class="span4">
                <div class="posts">
                    <div class="headline"><h3>Our Philosophy</h3></div>
                    <dl class="dl-horizontal">
                        <dt><a href="#"><img src="/assets/img/sliders/elastislide/6.jpg" alt="" /></a></dt>
                        <dd>
                            <p><a href="#">Smaller Groups, Frequent Engagements: Ideal group size to cary a conversation is 2.7 people. </a></p> 
                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                    <dt><a href="#"><img src="/assets/img/sliders/elastislide/10.jpg" alt="" /></a></dt>
                        <dd>
                            <p><a href="#">Companionships, not friendships: Routine activities don't require friendships to enjoy. Just good people and light trust to ride an elevator together.</a></p> 
                        </dd>
                    </dl>
                </div>
            </div><!--/span4-->

            <div class="span4">
                <!-- Monthly Newsletter -->
                <div class="headline"><h3>Contact Us</h3></div> 
                <address>
                    Firebrand Fuse LLC  <br />
                    4201 Wilson Blvd. <br />
                    Suite #110-355  <br />
                    Arlington, VA 22203, USA <br />
                    Phone: 202 642 3473 <br />
                    Email: <a href="mailto:we+pub@JoinHour.com" class="">we+pub@JoinHour.com</a>
                </address>

                <!-- Stay Connected -->
                <div class="headline"><h3>Stay Connected</h3></div> 
                <ul class="social-icons">
                    <li><a href="https://twitter.com/joinhour" data-original-title="Twitter" class="social_twitter"></a></li>
                </ul>
            </div><!--/span4-->
        </div><!--/row-fluid--> 
    </div><!--/container-->
</div><!--/footer-->    
<!--=== End Footer ===-->

<!--=== Copyright ===-->
<div class="copyright">
    <div class="container">
        <div class="row-fluid">
            <div class="span8">                     
                <p>2013 &copy; <a href="http://www.Firebrandfuse.com">Firebrand Fuse LLC</a>. <a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a></p>
            </div>
            <div class="span4"> 
                <!--JH Temp Removal   
                <a href="index.html"><img id="logo-footer" src="/assets/img/logo2-default.png" class="pull-right" alt="" /></a>
                -->
            </div>
        </div><!--/row-fluid-->
    </div><!--/container--> 
</div><!--/copyright--> 
<!--=== End Copyright ===-->



<!-- JS Global Compulsory -->			
<script type="text/javascript" src="/assets/js/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="/assets/js/modernizr.custom.js"></script>
<script type="text/javascript" src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<!-- JS Implementing Plugins -->           
<script type="text/javascript" src="/assets/plugins/flexslider/jquery.flexslider-min.js"></script>
<script type="text/javascript" src="/assets/plugins/parallax-slider/js/modernizr.js"></script>
<script type="text/javascript" src="/assets/plugins/parallax-slider/js/jquery.cslider.js"></script>
<script type="text/javascript" src="/assets/plugins/back-to-top.js"></script>
<!-- JS Page Level -->           
<script type="text/javascript" src="/assets/js/app.js"></script>
<script type="text/javascript" src="/assets/js/pages/index.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function() {
      	App.init();
        App.initSliders();
        Index.initParallaxSlider();
    });
</script>
<!--[if lt IE 9]>
    <script src="assets/js/respond.js"></script>
<![endif]-->

<script type="text/javascript" src="/assets/js/pages/contact.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();
        App.initSliders();                
        Contact.initMap();        
    });
</script>


</body>
</html>	