{% extends base_layout %}

{% block header_title_lead %}{% endblock %}{% block title %}
        {% trans %}Connections Without Obligations{% endtrans %} - {{app_name}}
{% endblock %}
{% block header_title %}
        {% trans %}My Corner{% endtrans %}
{% endblock %}

{% block content %}

    {% if user_id %}
    <div class="hero-unit home_bp">
            Get started. Post <a href="{{ uri_for("join") }}">interest</a>. Or see <a href="{{ uri_for("how") }}"> how it works</a>.
                    <BR>
        <p>
            {% trans %}<H3>Activities you initiated</H3>{% endtrans %}
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Spots Remaining</th>
                        <th>Expires in</th>
                        <th>Delete?</th>
                    </tr>
                </thead>

                {% for a in activities %}
                    <tr>
                        <TD>{{ a.category }}</TD>
                        <TD>{{ a.key.urlsafe() |spots_remaining()}}</TD>
                        <TD>{{ a.key.urlsafe() |expires_in('Activity')}}</TD>
                        <TD><a href="/?key={{ a.key.urlsafe() }}&action=delete"><button>Yes</button></a></TD>
                    </tr>
                {% endfor %}
            </table>
        </p>

                <p>
            {% trans %}<H3>Your interests</H3>{% endtrans %}
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Category</th>
                        <th>Expires in</th>
                        <th>Delete?</th>
                    </tr>
                </thead>

                {% for i in interests %}
                    <tr>
                        <td>{{ i.category }}</td>
                        <td>{{ i.key.urlsafe() | expires_in('Interest') }}</td>
                        <TD><a href="/?key={{ i.key.urlsafe()}}&action=delete"><button>Yes</button></a></TD>
                    </tr>
                {% endfor %}
            </table>
        </p>

        <p>
            {% trans %}<H3>Feedback requested</H3>{% endtrans %}
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Category</th>
                        <th>Activity Date</th>
                        <th>Expires in</th>
                        <th>Provide Feedback</th>
                    </tr>
                </thead>

                <tr>
                    <TD>Past event X</TD>
                    <TD>05/01</TD>
                    <TD>1 day and 3 hours</TD>
                    <TD><a href="{{ uri_for("feedback") }}"><button>Feedback</button></a></TD>
                </tr>
            </table>
        </p>

        <BR>
        <BR><BR>
                <p>
            {% trans %}TEMP: Developer's helper: other pages not easily accessible{% endtrans %}
                <BR>
                    <UL>
                        <LI><a href="{{ uri_for("tip") }}">{% trans %}Tip us!{% endtrans %}</a> link.
                        <LI><a href="{{ uri_for("feedback") }}">{% trans %}Feedback{% endtrans%}</a> link.
                        <LI><a href="{{ uri_for("love") }}">{% trans %}Love{% endtrans%}</a> link.
                            
                    </UL>
            
        </p>
    </div>
    {% else %}
    <div class="row">
        <div class="span6">
            <div class="home_bp">
                <p><h4>Group activities on your terms</h4> <B>We connect neighbors in real-time based on activity interests and availability</B></p>

                <table class="table table-striped table-bordered">
                <tr>
                    <TD><i class="icon-edit icon-large"></i> You Post</TD>
                    <TD><i class="icon-magic icon-large"></i> We Match</TD>
                    <TD><i class="icon-group icon-large"></i> You Connect</TD>
                </tr>
            </table>
            </div>

            <div id="myCarousel" class="carousel slide">
              <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li> 
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
                <li data-target="#myCarousel" data-slide-to="4"></li>
                <li data-target="#myCarousel" data-slide-to="5"></li>
              </ol>
              <!-- Carousel items -->
              <div class="carousel-inner">
                <div class="active item">
                    <img src="../img/carousel-01-BikeRide.jpg"/>
                    <div class="carousel-caption">
                      <h4>Group Bike Ride - with two hours' notice</h4>
                      <p>Unless biking is your life the weather will be your planning guide. Connect with neighbors and go for a ride in the nex hour or two.</p>
                    </div>
                </div>
                <div class="item">
                    <img src="../img/carousel-02-food-day.jpg"/>
                      <div class="carousel-caption">
                      <h4>Tasty experiences should be shared</h4>
                      <p>Stuck with friends who don't want to try new things? There is someone in your building who is probably interested in something tasty right now.</p>
                    </div>
                </div>
                <div class="item">
                    <img src="../img/carousel-03-group-dog-walk.jpg"/>
                    <div class="carousel-caption">
                      <h4>Dogs are pack animals</h4>
                      <p>Why not offer a bit of canine company to your dog? A trip to a dog park may have to wait ‘till the weekend, but a pack walk with your neighbor and their canine companion can happen in the next hour.</p>
                    </div>
                </div>
                <div class="item">
                    <img src="../img/carousel-04-tennis.jpg"/>
                    <div class="carousel-caption">
                      <h4>Tennis? Basketball? Golf? Pool? Jog?</h4>
                      <p>Looking for players at an empty court is silly. There are dozens of people next to you who wouldn't mind playing. Now you have way to connect on demand. Post an event or express interest, and go brab a gatorade.</p>
                    </div>
                </div>
                <div class="item">
                    <img src="../img/carousel-05-play-outside.jpg"/>
                    <div class="carousel-caption">
                      <h4>Get some vitamin D</h4>
                      <p>Grab a fresbie and post an event to get a few folks to join you. May be grab a drink afterwards.</p>
                    </div>
                </div>
                <div class="item">
                    <img src="../img/carousel-06-taxi.jpg"/>
                    <div class="carousel-caption">
                      <h4>Split a Cab</h4>
                      <p>There is a 75% chance that someone else in your building is heading in the same direction at the same time. Why not split a cab? It's cheaper and more entertaining.</p>
                    </div>
                </div>
              </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>

        </div>



        <div class="span3 auth-at-home">
            <form id="form_login_user" action="{{ uri_for("login") }}" method="post">
                <fieldset class="well">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                    <div class="control-group">
                        <label class="controls">
                            <input class="focused required" name="username" id="l_username" type="text" placeholder="{% trans %}Username or Email{% endtrans %}">
                        </label>
                    </div>
                    <div class="control-group">
                        <div class="controls row-fluid">
                            <label class="span8">
                                <input class="focused required" name="password" id="l_password" type="password" placeholder="{% trans %}Password{% endtrans %}">
                            </label>
                            <label class="span4">
                                <button type="submit" class="btn btn-primary btn-login">{% trans %}Login{% endtrans %}</button>
                            </label>
                        </div>
                    </div>
                    <div>
                        <label class="checkbox">
                            <input type="checkbox" name="remember_me" id="remember_me" value="on">
                            {% trans %}Remember me?{% endtrans %} <span class="separator"></span>
                            <a href="{{ uri_for("password-reset") }}">{% trans %}Forgot your password?{% endtrans %}</a>
                        </label>
                    </div>
                    {{ macros.federated_login(provider_info, provider_uris, enable_federated_login) }}
                </fieldset>
            </form>

            <h3>{% trans %}Sign Up{% endtrans %}</h3>
            <form id="form_register" action="{{ uri_for("register") }}" method="post">
                <fieldset class="well">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                    <div class="control-group">
                        <label class="controls">
                            <input class="focused required" name="username" id="username" type="text" placeholder="{% trans %}Username{% endtrans %}">
                        </label>
                    </div>
                    <div class="control-group">
                        <label class="controls">
                            <input class="focused required email" name="email" id="email" type="email" placeholder="{% trans %}Email{% endtrans %}">
                            <input type="hidden" name="country" value="">
                        </label>
                    </div>
                    <div class="control-group">
                        <label class="controls">
                            <input class="focused required" name="password" id="password" type="password" placeholder="{% trans %}Password{% endtrans %}">
                        </label>
                    </div>
                    <div class="control-group">
                        <label class="controls">
                            <input class="focused required" name="c_password" id="c_password" type="password" placeholder="{% trans %}Confirm Password{% endtrans %}">
                        </label>
                    </div>
                    <div class="control-group">
                        <button type="submit" class="btn btn-primary">{% trans %}Sign Up{% endtrans %}</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div><!-- /row -->
    {% endif %}

{% endblock %}

{% block mediaJS %}
    <script type="text/javascript">
        $().ready(function() {
            $("#form_login_user").validate({
                submitHandler: function(form) {
                    form.submit();
                },
                errorPlacement: function(error, element) {
                    element.parent().parent().addClass("error");
                    error.addClass("help-inline").appendTo( element.parent() );
                }
            });

            $("#form_register").validate({
                submitHandler: function(form) {
                    form.submit();
                },
                rules: {
                    password: 'required',
                    c_password: {
                        required: true,
                        equalTo: '#password'
                    }
                },
                errorPlacement: function(error, element) {
                    element.parent().parent().addClass("error");
                    error.addClass("help-inline").appendTo( element.parent() );
                }
            });
            
            $("#password").passStrength({
                shortPassText: '{% trans %}Short Password{% endtrans %}',
                badPassText: '{% trans %}Insecure Password{% endtrans %}',
                goodPassText: '{% trans %}Good Password{% endtrans %}',
                strongPassText: '{% trans %}Secure Password{% endtrans %}'
            });
        });
    </script>
{% endblock %}

