<!DOCTYPE html>
<!--[if IE 7]> <html lang="en" class="ie7"> <![endif]-->  
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->  
<head>
    <title>JoinHour | Record breaking resident retention through communities that feel alive</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="JoinHour | Record breaking resident retention through communities that feel alive.">
    <meta name="author" content="Firebrand Fuse LLC">

    <!-- CSS Global Compulsory-->
    <link rel="stylesheet" href="/assets/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/headers/header1.css">
    <link rel="stylesheet" href="/assets/plugins/bootstrap/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="/assets/css/style_responsive.css">
    <link rel="shortcut icon" href="favicon.ico">        
    <!-- CSS Implementing Plugins -->    
    <link rel="stylesheet" href="/assets/plugins/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="/assets/plugins/flexslider/flexslider.css" type="text/css" media="screen">
    <link rel="stylesheet" href="/assets/plugins/parallax-slider/css/parallax-slider.css" type="text/css">
    <!-- CSS Theme -->    
    <link rel="stylesheet" href="/assets/css/themes/blue.css" id="style_color">
    <link rel="stylesheet" href="/assets/css/themes/headers/header1-blue.css" id="style_color-header-1">
</head>	

<body>
 

<!--=== Top ===-->    
<div class="top">
    <div class="container">         
        <ul class="loginbar pull-right">
            <li><i class="icon-globe"> </i> <a href="get.html">About</a></li>   
            <!--=== JH: Reserved 
            <li class="devider">&nbsp;</li>
            <li><a href="#" class="login-btn">Sign Up</a></li>  
            <li class="devider">&nbsp;</li>
            <li><a href="#" class="login-btn">Login</a></li> 
            ===-->   
        </ul>
    </div>      
</div><!--/top-->
<!--=== End Top ===-->    

<!--=== Header ===-->
<div class="header">               
    <div class="container"> 
        <!-- Logo -->       
        <div class="logo">                                             
            <a href="index.html"><img id="logo-header" src="../img/logo1-default.png" alt="Logo"></a>
        </div><!-- /logo -->        
                                    
        <!-- Menu -->       
        <div class="navbar">                                
            <div class="navbar-inner">                                  
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a><!-- /nav-collapse -->                                  
                <div class="nav-collapse collapse">                                     
                    <ul class="nav top-2">
                        <li class="active">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Property Managers
                                <b class="caret"></b>                            
                            </a>
                            <ul class="dropdown-menu">
                                <li class="active"><a href="get.html">Get JoinHour</a></li>
                                <li><a href="get.html">Contact</a></li>
                            </ul>
                            <b class="caret-out"></b>                        
                        </li>
                
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Get It
                                <b class="caret"></b>                            
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="get.html">Get JoinHour</a></li>
                            </ul>
                            <b class="caret-out"></b>                        
                        </li>
                    </ul>
                </div><!-- /nav-collapse -->                                
            </div><!-- /navbar-inner -->
        </div><!-- /navbar -->                          
    </div><!-- /container -->               
</div><!--/header -->      
<!--=== End Header ===-->

<!--=== Slider ===-->
<div class="slider-inner">
    <div id="da-slider" class="da-slider">
        <div class="da-slide">
            <h2><i>LOWER PROPERTY</i> <br /> <i>TURNOVER BY 7.5 </i> <br /> <i>PERCENTAGE POINTS</i></h2>
            <p><i>Get record breaking retention</i> <br /> <i>by building an emotionally</i> <br /> <i> connected community  </i></p>
            <div class="da-img"><img src="../img/plugins/parallax-slider/img/1.png" alt="" /></div>
        </div>
        <div class="da-slide">
            <h2><i>PEOPLE WANT TO LIVE AND</i> <br /> <i>STAY AT PROPERTIES </i> <br /> <i>THAT FEEL ALIVE</i></h2>
            <p><i>Make it incredibly</i> <br /> <i> easy for residents to</i> <br /> <i> connect on demand</i></p>
            <div class="da-img span6">
            	<div class="span6">
					<iframe src="http://player.vimeo.com/video/68889173" width="100%" height="320" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> 
 				</div>
            </div>
        </div>
        <div class="da-slide">
            <h2><i>IMPROVE YOUR NOI</i> <br /> <i>THROUGH IMPROVED</i> <br /> <i>QUALITY OF LIFE</i></h2>
            <p><i>Risk free to get started</i> <br /> <i>Zero maintenance to operate</i> <br /> <i>Unconditional money back gurantee</i></p>
            <div class="da-img"><!-- JH: HOLD OFF  <img src="../img/plugins/parallax-slider/img/html5andcss3.png" alt="image01" />   --></div>
        </div>
        <nav class="da-arrows">
            <span class="da-arrows-prev"></span>
            <span class="da-arrows-next"></span>		
        </nav>
    </div><!--/da-slider-->
</div><!--/slider-->
<!--=== End Slider ===-->

<!--=== Purchase Block ===-->
<div class="row-fluid purchase margin-bottom-30">
    <div class="container">
		<div class="span9">
            <span>JoinHour is boutique. Summer 2013 customer cohort has a few spots left. Call us to get peak retention & community that feels alive.</span>
            <p>  </p>
        </div>
        <a href="get.html" class="btn-buy hover-effect">Get It Now</a>
    </div>
</div><!--/row-fluid-->
<!-- End Purchase Block -->

<!--=== Content Part ===-->
<div class="container">	
	<!-- Service Blocks -->
	<div class="row-fluid">
    	<div class="span4">
    		<div class="service clearfix">
                <i class="icon-lightbulb"></i>
    			<div class="desc">
    				<h4>Innovative</h4>
                    <p>Residents self-organize and form activities in real-time with no planning. The interest won't fizzle out, because the activities are ordinary and routine.</p>
    			</div>
    		</div>	
    	</div>
    	<div class="span4">
    		<div class="service clearfix">
                <i class="icon-signal"></i>
    			<div class="desc">
    				<h4>Get Record Breaking Retention Rate</h4>
                    <p>The service builds an emotional attachment between residents - deciding to renew the lease becomes an non-financial decision. </p>
    			</div>
    		</div>	
    	</div>
    	<div class="span4">
    		<div class="service clearfix">
                <i class="icon-money"></i>
    			<div class="desc">
    				<h4>Ice Cream Social </h4>
                    <p>JoinHour costs less than one ice cream social event and pays for itself in a month. Actually, you'll be making money on it through cost savings.</p>
    			</div>
    		</div>	
    	</div>			    
	</div><!--/row-fluid-->

    <div class="row-fluid">
        <div class="span4">
            <div class="service clearfix">
                <i class="icon-facebook-sign"></i>
                <div class="desc">
                    <h4>No Social Networks</h4>
                    <p>JoinHour only facilitates in-person connections. There is no social network noise. No messages. No spam. Activities are preset by the management to fit the amenities and the neighborhood.</p>
                </div>
            </div>  
        </div>
        <div class="span4">
            <div class="service clearfix">
                <i class="icon-lock"></i>
                <div class="desc">
                    <h4>Safer Than Resident Portals</h4>
                    <p>Real privacy. No unit numbers. No past actvity history. We collect just enough info to make meaningful connections. And nothing else. </p>
                </div>
            </div>  
        </div>
        <div class="span4">
            <div class="service clearfix">
                <i class="icon-time"></i>
                <div class="desc">
                    <h4>Radio Silence</h4>
                    <p>Residents only get notified of actvitiy matches for the short period of time they set. And it's radio silence when the resident is not available. </p>
                </div>
            </div>  
        </div>              
    </div><!--/row-fluid-->
	<!-- //End Service Blokcs -->

    
	<!-- Information Blokcs -->
	<div class="row-fluid margin-bottom-20">
    	<!-- Who We Are -->
		<div class="span8">
			<div class="headline"><h3>We didn't invent anything new</h3></div>
			<p><img class="pull-left lft-img-margin img-width-200" src="assets/img/carousel/6.jpg" alt="" />We've recovered what's been missing from our lives: ability to easily connect with people around us. Resident portals and social networks deceptively make us feel connected. JoinHour is designed for in-person connections, not online interaction.</p>	
            <ul class="unstyled">
            	<li><i class="icon-ok color-green"></i> Real time and on demand</li>
            	<li><i class="icon-ok color-green"></i> Better privacy than resident portals</li>
            	<li><i class="icon-ok color-green"></i> Service runs on an auto-pilot: activities are self-organizing</li>
            	<li><i class="icon-ok color-green"></i> This technology makes it easy to connect in-person</li>
            </ul><br>

            <blockquote class="hero-unify">
                <p>"It is the people around us, and the most common ways we have of meeting them, of being with them ... that make it possible for us to be alive."</p>
                <small>Christopher Alexander - Professor Emeritus at the University of California, Berkeley. Practicing Architect and Builder.</small>
            </blockquote>
        </div><!--/span8-->        

        <!-- Latest Shots -->
        <div class="span4">
			<div class="headline"><h3>Activity Examples</h3></div>
			<div id="myCarousel" class="carousel slide">
                <div class="carousel-inner">
                  <div class="item active">
                    <img src="../img/carousel/1.jpg" alt="">
                    <div class="carousel-caption">
                      <p>Group Bike Ride - formed with two hours' notice.</p>
                    </div>
                  </div>
                  <div class="item">
                    <img src="../img/carousel/2.jpg" alt="">
                    <div class="carousel-caption">
                      <p>Tasty experiences should be explored in groups.</p>
                    </div>
                  </div>
                  <div class="item">
                    <img src="../img/carousel/3.jpg" alt="">
                    <div class="carousel-caption">
                      <p>Organize a pack walk in 30 minutes. Offer a bit of canine company to your pooch without a trip to a dog park.</p>
                    </div>
                  </div>
                  <div class="item">
                    <img src="../img/carousel/4.jpg" alt="">
                    <div class="carousel-caption">
                      <p>Find activity partner in minutes for jogging, tennis, basketball.</p>
                    </div>
                  </div>
                  <div class="item">
                    <img src="../img/carousel/5.jpg" alt="">
                    <div class="carousel-caption">
                      <p>Enjoy sunshine. Find 4 people to throw a Frisbee in minutes.</p>
                    </div>
                  </div>

                  <div class="item">
                    <img src="../img/carousel/6.jpg" alt="">
                    <div class="carousel-caption">
                      <p>Grab a beverage in 15 mins; explore a new venue.</p>
                    </div>
                  </div>
                  <div class="item">
                    <img src="../img/carousel/7.jpg" alt="">
                    <div class="carousel-caption">
                      <p>Split a cab at 6. We're heading in the same direction.</p>
                    </div>
                  </div>
                </div>
                
                <div class="carousel-arrow">
                    <a class="left carousel-control" href="#myCarousel" data-slide="prev"><i class="icon-angle-left"></i></a>
                    <a class="right carousel-control" href="#myCarousel" data-slide="next"><i class="icon-angle-right"></i></a>
                </div>
			</div>
        </div><!--/span4-->
	</div><!--/row-fluid-->	
	<!-- //End Information Blokcs -->


</div><!--/container-->		
<!-- End Content Part -->

<!--=== Footer ===-->
<div class="footer">
	<div class="container">
		<div class="row-fluid">
			<div class="span4">
                <!-- About -->
		        <div class="headline"><h3>About</h3></div>	
				<p class="margin-bottom-25">JoinHour is an incredible digital amenity. It sets resident retention records by growing communities that feel alive.</p>	

	            <!-- Monthly Newsletter -->
		        <div class="headline"><h3>Success Formula</h3></div>	
				<p>Our secret recipe: Ordinary Activities + Good People + Easy Way To Connect = Buildings That Feel Alive</p>
                <!-- JH: Save for later
				<form class="form-inline">
					<div class="input-append">
						<input type="text" placeholder="Email Address" class="input-medium">
						<button class="btn-u">Subscribe</button>
					</div>
				</form>		
                -->					
			</div><!--/span4-->	
			
			<div class="span4">
                <div class="posts">
                    <div class="headline"><h3>Our Philosophy</h3></div>
                    <dl class="dl-horizontal">
                        <dt><a href="#"><img src="/assets/img/sliders/elastislide/6.jpg" alt="" /></a></dt>
                        <dd>
                            <p><a href="#">Smaller Groups, Frequent Engagements: Ideal group size to cary a conversation is 2.7 people. </a></p> 
                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                    <dt><a href="#"><img src="/assets/img/sliders/elastislide/10.jpg" alt="" /></a></dt>
                        <dd>
                            <p><a href="#">Companionships, not friendships: Routine activities don't require friendships to enjoy. Just good people and light trust to ride an elevator together.</a></p> 
                        </dd>
                    </dl>
                </div>
			</div><!--/span4-->

			<div class="span4">
	            <!-- Monthly Newsletter -->
		        <div class="headline"><h3>Contact Us</h3></div>	
                <address>
					Firebrand Fuse LLC  <br />
					4201 Wilson Blvd. <br />
					Suite #110-355  <br />
                    Arlington, VA 22203, USA <br />
                    Phone: 202 642 3473 <br />
					Email: <a href="mailto:we+pub@JoinHour.com" class="">we+pub@JoinHour.com</a>
                </address>

                <!-- Stay Connected -->
		        <div class="headline"><h3>Stay Connected</h3></div>	
                <ul class="social-icons">
                    <li><a href="https://twitter.com/joinhour" data-original-title="Twitter" class="social_twitter"></a></li>
                </ul>
			</div><!--/span4-->
		</div><!--/row-fluid-->	
	</div><!--/container-->
</div><!--/footer-->	
<!--=== End Footer ===-->

<!--=== Copyright ===-->
<div class="copyright">
	<div class="container">
		<div class="row-fluid">
			<div class="span8">						
	            <p>2013 &copy; <a href="http://www.Firebrandfuse.com">Firebrand Fuse LLC</a>. <a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a></p>
			</div>
			<div class="span4">	
                <!--JH Temp Removal   
				<a href="index.html"><img id="logo-footer" src="/assets/img/logo2-default.png" class="pull-right" alt="" /></a>
                -->
			</div>
		</div><!--/row-fluid-->
	</div><!--/container-->	
</div><!--/copyright-->	
<!--=== End Copyright ===-->

<!-- JS Global Compulsory -->			
<script type="text/javascript" src="/assets/js/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="/assets/js/modernizr.custom.js"></script>
<script type="text/javascript" src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<!-- JS Implementing Plugins -->           
<script type="text/javascript" src="/assets/plugins/flexslider/jquery.flexslider-min.js"></script>
<script type="text/javascript" src="/assets/plugins/parallax-slider/js/modernizr.js"></script>
<script type="text/javascript" src="/assets/plugins/parallax-slider/js/jquery.cslider.js"></script>
<script type="text/javascript" src="/assets/plugins/back-to-top.js"></script>
<!-- JS Page Level -->           
<script type="text/javascript" src="/assets/js/app.js"></script>
<script type="text/javascript" src="/assets/js/pages/index.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function() {
      	App.init();
        App.initSliders();
        Index.initParallaxSlider();
    });
</script>
<!--[if lt IE 9]>
    <script src="assets/js/respond.js"></script>
<![endif]-->

</body>
</html>	