{% extends base_layout %}

{% block title %}
        {% trans %}Initiate Activity{% endtrans %} - {{app_name}}
{% endblock %}
{% block header_title %}
        {% trans %}Initiate Activity{% endtrans %}
{% endblock %}

{% block content %}

<h5>Post your activity and let others join you. Our service will suggest a best match and you'll select actual participants.</h5>

<BR>
<BR>
 {% trans %}Submit and take user to {% endtrans %} <a href="{{ uri_for("stat") }}">{% trans %}Activity Leaderboard{% endtrans %}</a>
<BR><BR><BR>

        <form id="form_initiate_actvitiy" action="{{ url|safe }}" method="post" class="well form-horizontal">
        <fieldset>
            <input type="hidden" name="exception" value="{{ exception }}">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
            {{ macros.field(form.category, label=_("I want to")) }}
            {{ macros.field(form.sub_category, label=_("and specifically")) }}
            {{ macros.field(form.min_number_of_people_to_join, label=_("with so many people to join me")) }}
            {{ macros.field(form.duration, label=_("for")) }}
            {{ macros.field(form.expiration, label=_("and this has to start in this many minutes or less")) }}
            {{ macros.field(form.note, label=_("Note"), placeholder=_("140 characters to say something special about this ...")+" "+_("mind"), class="input-xlarge focused required") }}
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">{% trans %}Initiate Activity{% endtrans %}</button>
            </div>
        </fieldset>
    </form>
    <HR>
    <h3>Alternative Input - (not wired) - the Typeahead.js not seen</h3> 
I want to <input type="text" class="span3" style="margin: 0 auto;" data-provide="typeahead" data-items="4" data-source="["go for a run", "grab a beer", "grab a drink", "play tennis","play pool","play Call of Duty","share a taxi"]"> for <input type="text" class="span1" style="margin: 0 auto;" data-provide="typeahead" data-items="4" data-source="['10', "15", "30", "45", "60" ]"> minutes, in about <input type="text" class="span1" style="margin: 0 auto;" data-provide="typeahead" data-items="4" data-source="["10", "15", "30", "45", "60" ]"> minutes, and if there is no match in <input type="text" class="span1" style="margin: 0 auto;" data-provide="typeahead" data-items="4" data-source="["10", "15", "30", "45", "60" ]"> minutes, then I'm not interested.
<BR>
{% endblock %}

{% block mediaJS %}
<script type="text/javascript">
    $().ready(function() {
        $("#form_contact").validate({
            errorPlacement: function(error, element) {
                element.parent().parent().addClass("error");
                error.addClass("help-inline").appendTo( element.parent() );
            }
        });
    });
</script>
{% endblock %}

