{% extends base_layout %}

{% block title %}
        Announce Your Interest - {{app_name}}
{% endblock %}
{% block header_title %}

{% endblock %}

{% block content %}

<!--=== Content Part ===-->
<div class="container">
	<div class="row-fluid">
        <div class="span9">
			<!-- Other Questions -->
            <div class="headline"><h2>Announce Your Interest</h2></div>
            <form id="form_initiate_activity" action="{{ url|safe }}" method="post">
                <fieldset>
                    <input type="hidden" name="exception" value="{{ exception }}">
                    <input type="hidden" name="set_time" id="set_time" value="">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                    <H4>I want to</H4>
                    {{ macros.field(form.category, label=_(" ")) }}
                    <span>
                    <h4>My interest expires at</h4>
                        <div id="set_time_datetimepicker" class="input-append date form_datetime">
                            <input size="16" type="text" value="" readonly class="input-xlarge focused required">
                                <span class="add-on">
                                    <i class="icon-th"></i>
                                </span>
                         </div>
                    </span>

                    <div class="form-actions">
                        <button type="submit" class="btn-u btn-u-blue">Announce Your Interest</button>
                    </div>
                </fieldset>
            </form>
		</div><!--/span9-->

		<div class="span3">
            <!-- How this works -->
            <div class="headline"><h3>How this works</h3></div>
            <p>Select an interest and your availability. We'll find activity matches for you. If you don't join an activity, then your interest announcement expires.</p>

        	<!-- Posting Is Easy -->
            <div class="headline"><h3>Go with the flow</h3></div>
            <p>Announcing an interest enables you to see options without planning.</p>
            <ul class="unstyled">
                <li><i class="icon-ok color-green"></i> We find you activity matches </li>
            	<li><i class="icon-ok color-green"></i> Leave planning to someone else</li>
            	<li><i class="icon-ok color-green"></i> You select who to join</li>
            </ul>

            <!-- Option B -->
            <div class="headline"><h3>Option B</h3></div>
            <p>Don't feel like waiting for a match? Then <a href="/act">create an activity</a>.</p>
        </div><!--/span4-->
    </div><!--/row-fluid-->
</div><!--/container-->
<!--=== End Content Part ===-->

{% endblock %}

{% block mediaJS %}
<script type="text/javascript">
    $().ready(function() {
        $("#form_initiate_activity").validate({
            errorPlacement: function(error, element) {
                element.parent().parent().addClass("error");
                error.addClass("help-inline").appendTo( element.parent() );
            }
        });
    });

    $(".form_datetime").datetimepicker({
        format: "MM dd at HH:ii P",
        autoclose:true,
        startView:1,
        minuteStep:15,
        showMeridian:true,
        startDate:new Date()
    });

    $(".form_datetime").datetimepicker().on('changeDate', function(ev){
        var picker = $(".form_datetime").data('datetimepicker')
        var utcDate = picker.getDate().toUTCString();
        document.getElementById('set_time').value = new Date(utcDate).toISOString();
    });
</script>

<script type="text/javascript" src="/assets/js/app.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();
    });
</script>


{% endblock %}

