{% extends base_layout %}

{% block title %}
        {% trans %}Post your interest and availability {% endtrans %} - {{app_name}}
{% endblock %}
{% block header_title %}
        {% trans %}Post{% endtrans %}
{% endblock %}

{% block content %}

<h4>Post your interest and availability</h4>

<BR>

        <form id="form_initiate_activity" action="{{ url|safe }}" method="post" class="well form-horizontal">
        <fieldset>
            <input type="hidden" name="exception" value="{{ exception }}">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
            {{ macros.field(form.category, label=_("I want to")) }}
             {{ macros.field(form.duration, label=_("for")) }}
            {{ macros.field(form.expiration, label=_("willing to wait for a match for")) }}
            
            <label class="radio"><input type="radio" name="type_radio" id="express_interest_radio" value="interest" checked onchange="onTypeRadioButtonChange('initiate_activity_details')">I'm flexible, and I will join others</label>
            <label class="radio"><input type="radio" name="type_radio" id="initiate_activity_radio" value="activity" onchange="onTypeRadioButtonChange('initiate_activity_details')">I’ll set the details, and let others join me</label>
            <span id="initiate_activity_details" style="display: none;">
            {{ macros.field(form.meeting_place, label=_("Meet / Location"),placeholder=_("e.g., where we're meeting and ")+" "+_("going"), class="input-xlarge focused required") }}
            {{ macros.field(form.min_number_of_people_to_join, label=_("with min"),disabled=true) }}
            {{ macros.field(form.max_number_of_people_to_join, label=_("no more than"),disabled=true) }}
            </span>

            <div class="form-actions">
                <button type="submit" class="btn btn-primary">{% trans %}Post{% endtrans %}</button>
            </div>
        </fieldset>
    </form>
    
{% endblock %}

{% block mediaJS %}
<script type="text/javascript">
    $().ready(function() {
        $("#form_contact").validate({
            errorPlacement: function(error, element) {
                element.parent().parent().addClass("error");
                error.addClass("help-inline").appendTo( element.parent() );
            }
        });
    });

    function onTypeRadioButtonChange(id){
        if(document.getElementById('express_interest_radio').checked)
        {
            document.getElementById(id).style.display = 'none';
            document.getElementById('min_number_of_people_to_join').disabled = true
            document.getElementById('max_number_of_people_to_join').disabled = true
        }
        else if(document.getElementById('initiate_activity_radio').checked)
        {
            document.getElementById(id).style.display = 'block';
            document.getElementById('min_number_of_people_to_join').disabled = false
            document.getElementById('max_number_of_people_to_join').disabled = false
        }
    }
</script>
{% endblock %}

