{% extends base_layout %}

{% block title %}
        {% trans %}Join{% endtrans %} - {{app_name}}
{% endblock %}
{% block header_title %}
        {% trans %}Join{% endtrans %}
{% endblock %}

{% block content %}

<h4>Provide your interest and availability info.</h4>

<BR>

        <form id="form_initiate_actvitiy" action="{{ url|safe }}" method="post" class="well form-horizontal">
        <fieldset>
            <input type="hidden" name="exception" value="{{ exception }}">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
            {{ macros.field(form.category, label=_("I want to")) }}
            <!--{{ macros.field(form.sub_category, label=_("and specifically")) }} -->
             {{ macros.field(form.duration, label=_("for")) }}
            {{ macros.field(form.expiration, label=_("willing to wait for a match for")) }}
            <label class="radio"><input type="radio" name="type_radio" id="express_interest_radio" value="interest" checked onchange="onTypeRadioButtonChange()">I'm just expressing an interest</label>
            <label class="radio"><input type="radio" name="type_radio" id="initiate_activity_radio" value="activity" onchange="onTypeRadioButtonChange()">I'm initiating an activity [then show options below]</label>
            {{ macros.field(form.min_number_of_people_to_join, label=_("with min"),disabled=true) }}
            {{ macros.field(form.max_number_of_people_to_join, label=_("no more than"),disabled=true) }}
            {{ macros.field(form.note, label=_("Details"),disabled=true, placeholder=_("e.g., where we're meeting and ")+" "+_("going"), class="input-xlarge focused required") }}
         
            <label class="checkbox">
            <input type="checkbox" value="">I read the <a href="#" target="_blank">Privacy Policy</a> and agree with <a href="#" target="_blank">Terms Of Service</a>
            </label>
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">{% trans %}Connect{% endtrans %}</button>
            </div>
        </fieldset>
    </form>
    
{% endblock %}

{% block mediaJS %}
<script type="text/javascript">
    $().ready(function() {
        $("#form_contact").validate({
            errorPlacement: function(error, element) {
                element.parent().parent().addClass("error");
                error.addClass("help-inline").appendTo( element.parent() );
            }
        });
    });
    function onTypeRadioButtonChange(){
        if(document.getElementById('express_interest_radio').checked)
        {
            document.getElementById('note').disabled = true
            document.getElementById('min_number_of_people_to_join').disabled = true
            document.getElementById('max_number_of_people_to_join').disabled = true
        }
        else if(document.getElementById('initiate_activity_radio').checked)
        {
            document.getElementById('note').disabled = false
            document.getElementById('min_number_of_people_to_join').disabled = false
            document.getElementById('max_number_of_people_to_join').disabled = false
        }
    }
</script>
{% endblock %}

