{% extends base_layout %}

{% block header_title %}
    Please Login or Sign Up
{% endblock %}

{% block content %}
<div class="container">
	<div class="row-fluid">
        <form id="form_login_user" action="{{ url|safe }}" method="post" class="log-page">
            <fieldset>
                <h3>Login to your account</h3>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                <div class="input-prepend">
                    {{ macros.field(form.username, label=_("Username or Email"), placeholder=_("Enter your")+" "+_("Username or Email"), class="input-xlarge focused required") }}
                </div>
                <div class="input-prepend">
                    {{ macros.field(form.password, label=_("Password"), placeholder=_("Enter your")+" "+_("Password"), class="input-xlarge focused required", type="password") }}
                </div>
                <div class="controls form-inline">
                    <label class="checkbox"><input type="checkbox" name="remember_me" id="remember_me" value="on"> Stay Signed in</label>

                    <button class="btn-u pull-right" type="submit">Login</button>
                </div>
                <hr />
                <h4>Forgot your Password?</h4>
                <p>no worries, <a class="color-blue" href="{{ uri_for("password-reset") }}">click here</a> to reset your password.</p>

                {{ macros.federated_login(provider_info, provider_uris, enable_federated_login) }}
                <div id="register" class="form-actions">
                    <h4>{% trans %}Don't have an account?{% endtrans %}</h4>
                    <a href="{{ uri_for("register") }}" class="btn-u pull-right">Sign Up</a>
                </div>


            </fieldset>
        </form>
    </div><!--/row-fluid-->
</div><!--/container-->


{% endblock %}

{% block mediaJS %}
    <script type="text/javascript">
        $().ready(function() {
            $("#form_login_user").validate({
                submitHandler: function(form) {
                          form.submit();
                },
                errorPlacement: function(error, element) {
                    element.parent().parent().addClass("error");
                    error.addClass("help-inline").appendTo( element.parent() );
                }
            });
        });
    </script>
    <!-- JS Page Level -->
    <script type="text/javascript" src="/assets/js/app.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function() {
            App.init();
        });
    </script>
{% endblock %}