<!-- Renders a form field with errors, required flags, and common styling.  
	html element fields such as class, style, or type can be passed as kwargs.
	Usage: macros.field(form.username, class="input-xlarge", type="email") -->
{% macro field(field, label='') -%}
            <div class="control-group{% if field.errors %} error{% endif %}">
            	{% set text = label or field.label.text %}
            	{% if field.flags.required %}
                	{{ field.label(text=text + " *", class="control-label") }}
                {% else %}
                	{{ field.label(text=text + " ", class="control-label") }}
                {% endif %}
                <div class="controls">
                {{ field(**kwargs) }}
                {% if field.errors %}
                    {% for error in field.errors %}<label for="{{ field.id }}" class="error help-inline">{{ error }}</label>{% endfor %}
                {% endif %}
                </div>
            </div>
{%- endmacro %}

<!-- renders federated login (openId and Oauth) login buttons -->
{% macro federated_login(provider_info, provider_uris, enable_federated_login) -%}
{% if enable_federated_login %}
            <div id="third_party_login" class="form-actions">
{#
                {% if disable_local_accounts %}
                <h4>{% trans %}Sign in using:{% endtrans %}</h4>
                {% else %}
#}
                <h4>{% trans %}Or Sign in using:{% endtrans %}</h4>
                <ul class="social-login-icons">
                    {% for p in provider_info if provider_uris[p] %}
                        <li><a href="{{ provider_uris[p] }}" class="social-btn social-btn-{{ p }}" title="{{ p }}">{{ p }}</a></li>
                    {% endfor %}
                </ul>
            </div>
{% endif %}
{%- endmacro %}

{% macro show_event(event,username) -%}
        {% set event_attributes = event.key.urlsafe() | event_attributes(username) %}
        {% set activity_participants = event.key.urlsafe() | get_all_companions %}
        {% set expiration = event.key.urlsafe() |expires_in  | minute_format %}
        <div class="media-object">
            {{ show_avatar(username) }}
        </div>
        <div class="media-body">
            <div data-class="main-content-area">
                <!-- Event heading-->
                <h4 class="media-heading">
                            <!-- Subject-->
                            <span class="subject">
                                <a href="/activity_detail/?ID={{ event.key.urlsafe() }}">{{ event.category }}</a>
                            </span>
                    <!-- Timestamp-->
                    <span class="timestamp">{{ event.date_entered | dateformat }}</span>
                </h4>
                <!-- Event Note text-->
                <p data-class="post-content">
                    {{ event.note }}
                </p>
                <!-- Posted by-->
                <h5 class="media-author">
                        <span class="user-name">Posted by <a
                                href="/user_profile/?username={{ event.username }}">{{ event.username }}</a></span>
                </h5>
                <!-- Status text-->
               {% if event_attributes['expiration'] == 'EXPIRED'  %}
                    {% if event_attributes['status'] == 'COMPLETE' %}
                        <div class="media-scope">
                            COMPLETE
                        </div>
                    {% else %}
                       <div class="media-scope">
                            CLOSED
                        </div>
                     {% endif %}
               {% elif event_attributes['status'] == 'CREATED' or event_attributes['status'] == 'FORMING' or event_attributes['status'] == 'COMPLETE'%}
                    <div class="media-scope">
                        Starting in {{ expiration }} for {{ event.duration }} minutes
                    </div>
                {% elif event_attributes['status'] == 'COMPLETE_CONVERTED' %}
                    <div class="media-scope">
                        Converted to activity
                    </div>
                {% elif event_attributes['status'] == 'CLOSED' %}
                    <div class="media-scope">
                         CLOSED
                    </div>
                {% endif %}
                <!-- Event actions -->
                <div class="media-actions">
                    <span>
                          <!-- Join -->
                          {%  if event_attributes['can_join'] %}
                                <a class="btn btn-primary btn-mini " href="/join_activity/?key={{ event.key.urlsafe() }}">
                                      <span data-class="label">Join</span>
                                 </a>
                            <!-- Convert to activity -->
                           {% elif event_attributes['can_convert'] %}
                                 <a href="#cancel_modal" class="open-cancel-confirm-dialog btn btn-primary btn-mini" data-toggle="modal"
                                        data-id="{{ event.key.urlsafe()}}"">
                                        <span data-class="label">Convert to Activity</span>
                                 </a>
                           {% elif expiration != 'EXPIRED' and event.status == 'COMPLETE' and event.type == 'ACTIVITY' %}
                                 <a class="btn btn-inverse btn-mini liked"  }}">
                                            <span data-class="label">GO</span>
                                 </a>
                           {% endif %}
                     </span>
                </div>
             </div>
            {% if event.type == 'ACTIVITY' and event.status != 'INITIATED' %}
                {% if activity_participants | length > 0 %}
                    <div class="media-comments  show" data-num-comments="1" data-class="comment-like-container">
                        <div class="media-thanks" data-class="like-container">
                            <p>
                                <span class="comment-count"><i class="glyphicon-star"></i></span>
                                <span>Participants : {{ activity_participants | join }}</span>
                            </p>
                        </div>
                    </div>
                {% endif %}
            {% endif %}
        </div>
        <hr/>
{%- endmacro %}

{% macro show_avatar(username) -%}
    {% if username | hasAvatar %}
           <a href="/user/avatar/?user_name={{ username }}">
                <img class="avatar" src="/user/avatar/?user_name={{ username }}"/>
           </a>
     {% else %}
            <a href="../img/user.jpg">
                <img class="avatar" src="../img/user.jpg"/>
            </a>
     {% endif %}
{%- endmacro %}



