<!-- Renders a form field with errors, required flags, and common styling.  
	html element fields such as class, style, or type can be passed as kwargs.
	Usage: macros.field(form.username, class="input-xlarge", type="email") -->
{% macro field(field, label='') -%}
            <div class="control-group{% if field.errors %} error{% endif %}">
            	{% set text = label or field.label.text %}
            	{% if field.flags.required %}
                	{{ field.label(text=text + " *", class="control-label") }}
                {% else %}
                	{{ field.label(text=text + " ", class="control-label") }}
                {% endif %}
                <div class="controls">
                {{ field(**kwargs) }}
                {% if field.errors %}
                    {% for error in field.errors %}<label for="{{ field.id }}" class="error help-inline">{{ error }}</label>{% endfor %}
                {% endif %}
                </div>
            </div>
{%- endmacro %}

<!-- renders federated login (openId and Oauth) login buttons -->
{% macro federated_login(provider_info, provider_uris, enable_federated_login) -%}
{% if enable_federated_login %}
            <div id="third_party_login" class="form-actions">
{#
                {% if disable_local_accounts %}
                <h4>{% trans %}Sign in using:{% endtrans %}</h4>
                {% else %}
#}
                <h4>{% trans %}Or Sign in using:{% endtrans %}</h4>
                <ul class="social-login-icons">
                    {% for p in provider_info if provider_uris[p] %}
                        <li><a href="{{ provider_uris[p] }}" class="social-btn social-btn-{{ p }}" title="{{ p }}">{{ p }}</a></li>
                    {% endfor %}
                </ul>
            </div>
{% endif %}
{%- endmacro %}

{% macro show_event(event,username) -%}
        {% set event_attributes = event.key.urlsafe() | event_attributes(username) %}
        {% set activity_participants = event.key.urlsafe() | get_all_companions %}
        {% set expiration = event.key.urlsafe() |expires_in  | minute_format %}

            <div class="media-object">
                {{ show_avatar(event.username) }}
            </div>
            <div class="media-body">
                <div data-class="main-content-area">
                    <!-- Event heading-->
                    <h4 class="media-heading">
                                <!-- Subject-->
                                <span class="subject">
                                    <a href="/activity_detail/?ID={{ event.key.urlsafe() }}">{{ event.category }}</a> with <a
                                    href="/user_profile/?username={{ event.username }}">{{ event.username }}</a>
                                </span>
                        <!-- Timestamp-->
                        <!--span class="timestamp">{{ event.date_entered | dateformat }}</span-->
                    </h4>
                    <!-- Event Note text-->
                    <p data-class="post-content">
                        Activity Location: {{ event.activity_location }}
                        <BR>
                        Meeting Place: {{ event.meeting_place}}
                    </p>

                    <!-- Status text-->
                   {% if event_attributes['expiration'] == 'EXPIRED'  %}
                        {% if event_attributes['status'] == 'COMPLETE' %}
                            <div class="media-scope">
                                COMPLETE
                            </div>
                        {% else %}
                           <div class="media-scope">
                                CLOSED
                            </div>
                         {% endif %}
                   {% elif event_attributes['status'] == 'CREATED' or event_attributes['status'] == 'FORMING' or event_attributes['status'] == 'COMPLETE'%}
                        <div class="media-scope">
                            Starting in {{ expiration }} for {{ event.duration }} minutes
                        </div>
                    {% elif event_attributes['status'] == 'COMPLETE_CONVERTED' %}
                        <div class="media-scope">
                            Converted to activity
                        </div>
                    {% elif event_attributes['status'] == 'CLOSED' %}
                        <div class="media-scope">
                             CLOSED
                        </div>
                    {% endif %}
                    <!-- Event actions -->
                    <div class="media-actions">
                        <span>
                              <!-- Join -->
                              {%  if event_attributes['can_join'] %}
                                    <a class="btn btn-primary btn-mini" href="/join_activity/?key={{ event.key.urlsafe() }}">
                                          <span data-class="label">Join</span>
                                     </a>
                              {% endif %}
                                <!-- Convert to activity -->
                               {% if event_attributes['can_convert'] %}
                                     <a href="#cancel_modal" class="open-cancel-confirm-dialog btn btn-primary btn-mini" data-toggle="modal"
                                            data-id="{{ event.key.urlsafe()}}"">
                                            <span data-class="label">Convert to Activity</span>
                                     </a>
                                {% endif %}
                               {% if expiration != 'EXPIRED' and event.status == 'COMPLETE' and event.type == 'ACTIVITY' %}
                                     <a class="btn btn-inverse btn-mini liked"  }}">
                                                <span data-class="label">GO</span>
                                     </a>
                                {% endif %}
                               <!-- Cancel / Delete -->
                               {% if  event_attributes['can_leave'] %}
                                   <a class="btn btn-primary btn-mini" href="/leave_activity/?activity_key={{ event.key.urlsafe() }}">
                                       <span data-class="label">Leave</span>
                                   </a>
                               {% endif %}
                               {% if  event_attributes['can_cancel'] %}
                                   <a class="btn btn-primary btn-mini" href="/cancel_activity/?activity_key={{ event.key.urlsafe() }}">
                                       <span data-class="label">Cancel</span>
                                   </a>
                               {% endif %}
                              <!-- Feedback-->
                              {% if  event_attributes['has_feedback']%}
                                 {% set feedback = event_attributes['feedback'] %}
                                 <a  class="btn btn-primary btn-mini" href="/user_feedback/?userfeedback_key={{ feedback.key.urlsafe() }}">
                                            <span data-class="label">Provide feedback</span>
                                 </a>
                              {% endif %}
                         </span>
                    </div>
                 </div>
                {% if event.type == 'INTEREST_SPECIFIC' and event.status != 'FORMING' %}
                    {% if activity_participants | length > 0 %}
                        <div class="media-comments  show" data-num-comments="1" data-class="comment-like-container">
                            <div class="arrow">
                                <b class="arrow-up-dark"></b>
                                <b class="arrow-up"></b>
                            </div>
                            <div class="media-thanks" data-class="like-container">
                                <p>
                                    <span class="comment-count"><i class="icon-star"></i></span>
                                    <span>Participants : {{ activity_participants | join(',') }}</span>
                                </p>
                            </div>
                        </div>
                    {% endif %}
                {% elif event.type == 'INTEREST' and event.status == 'COMPLETE_MATCH_FOUND' and event.username == username%}
                    <div class="media-comments  show" data-num-comments="1" data-class="comment-like-container">
                        <div class="arrow">
                             <b class="arrow-up-dark"></b>
                             <b class="arrow-up"></b>
                         </div>
                         <div class="media-thanks" data-class="like-container">
                             <p>
                                <span class="comment-count"><i class="icon-star"></i></span>
                                <span>Matching activities for you</span>
                             </p>
                         </div>
                    {% for match in event.key | get_matching_activities %}
                        {% set matching_activity = match.activity.get() %}
                        {% set activity_attributes = matching_activity.key.urlsafe() | event_attributes(username) %}
                        <div class="media-comment">
                                    <div class="media-object">
                                        {{ show_avatar(matching_activity.username) }}
                                    </div>
                                    <div class="media-body">
                                    <h4 class="media-heading">
                                        <span class="subject">
                                            <a href="/activity_detail/?ID={{ matching_activity.key.urlsafe() }}">{{ matching_activity.category }}</a>
                                        </span>
                                    </h4>
                                    <p data-class="post-content">
                                        {{ matching_activity.note }}
                                    </p>
                                    <h5 class="media-author">
                                        <span class="user-name">Posted by
                                            <a href="/user_profile/?username={{ matching_activity.username }}">{{ matching_activity.username }}</a>
                                        </span>
                                    </h5>
                                    <div class="media-actions">
                                        <span>
                                            {%  if activity_attributes['can_join'] %}
                                                <a class="btn btn-primary btn-mini" href="/join_activity/?key={{ matching_activity.key.urlsafe() }}">
                                                    <span data-class="label">Join</span>
                                                </a>
                                            {% endif %}
                                        </span>
                                    </div>
                                    </div>
                                </div>

                    {% endfor %}
                    </div>
               {% endif %}
            </div>
            <hr/>
{%- endmacro %}

{% macro show_avatar(username) -%}
    {% if username | hasAvatar %}
           <a href="/user/avatar/?user_name={{ username }}">
                <img class="avatar" src="/user/avatar/?user_name={{ username }}"/>
           </a>
     {% else %}
            <a href="../img/user.jpg">
                <img class="avatar" src="../img/user.jpg"/>
            </a>
     {% endif %}
{%- endmacro %}



