<!-- Renders a form field with errors, required flags, and common styling.  
	html element fields such as class, style, or type can be passed as kwargs.
	Usage: macros.field(form.username, class="input-xlarge", type="email") -->
{% macro field(field, label='') -%}
            <div class="control-group{% if field.errors %} error{% endif %}">
            	{% set text = label or field.label.text %}
            	{% if field.flags.required %}
                	{{ field.label(text=text + " *", class="control-label") }}
                {% else %}
                	{{ field.label(text=text + " ", class="control-label") }}
                {% endif %}
                <div class="controls">
                {{ field(**kwargs) }}
                {% if field.errors %}
                    {% for error in field.errors %}<label for="{{ field.id }}" class="error help-inline">{{ error }}</label>{% endfor %}
                {% endif %}
                </div>
            </div>
{%- endmacro %}

<!-- renders federated login (openId and Oauth) login buttons -->
{% macro federated_login(provider_info, provider_uris, enable_federated_login) -%}
{% if enable_federated_login %}
            <div id="third_party_login" class="form-actions">
{#
                {% if disable_local_accounts %}
                <h4>{% trans %}Sign In using:{% endtrans %}</h4>
                {% else %}
#}
                <h4>{% trans %}Or Sign In using:{% endtrans %}</h4>
                <ul class="social-login-icons">
                    {% for p in provider_info if provider_uris[p] %}
                        <li><a href="{{ provider_uris[p] }}" class="social-btn social-btn-{{ p }}" title="{{ p }}">{{ p }}</a></li>
                    {% endfor %}
                </ul>
            </div>
{% endif %}
{%- endmacro %}

{% macro show_event(event,username,event_attributes_list) -%}
        {% set event_attributes = event_attributes_list[event.key.urlsafe()] %}
        {% set activity_participants = event.key.urlsafe() | get_all_companions %}
        {% set matching_activities = event.key | get_matching_activities %}
        {% set join_requests = event.key | get_open_requests_for_activity %}




            <div class="media-object">
                {{ show_avatar(event.username) }}
            </div>
            <div class="media-body">
                <div data-class="main-content-area">
                    <!-- Event heading-->
                    <h4 class="media-heading">
                                <!-- Subject-->
                                <span class="subject">
                                    <a href="/activity_detail/?ID={{ event.key.urlsafe() }}">{{ event.category }}</a> with <a
                                    href="/user_profile/?username={{ event.username }}">{{ event.username | get_full_name}}</a>
                                </span>
                    </h4>
                    <!-- Event Note text - show the location and meeting place only if it's an Activity, not Interest-->
                    {% if event.type == 'INTEREST_SPECIFIC'  %}
                    <p data-class="post-content">
                        Activity Location: {{ event.activity_location | default("Not set",True) }}
                        <BR>
                        Meeting Place: {{ event.meeting_place | default ("Not set",True)}}
                        <BR>
                        Max # of participants: {{ event.max_number_of_people_to_join | default ("Not set",True)}}
                    </p>
                    {% endif %}

                    <!-- Status text-->
                   {% if event.status == 'FORMING'  %}
                        <div class="media-scope">
                             Status: Forming & must start by <span data-localtime-format="hh:mm a">{{ event_attributes['start_time'] }}Z</span>
                        </div>
                   {% elif event.status == 'FORMED_OPEN'  %}
                        <div class="media-scope">
                             Status: Formed & will start at <span data-localtime-format="hh:mm a">{{ event_attributes['start_time'] }}Z</span>
                        </div>
                   {% elif event.status == 'FORMED_INITIATED'  %}
                        <div class="media-scope">
                             Status: Started
                        </div>
                   {% elif event.status == 'EXPIRED'  %}
                        <div class="media-scope">
                             Status: Expired
                        </div>
                   {% elif event.status == 'CANCELLED'  %}
                        <div class="media-scope">
                             Status: Cancelled
                        </div>
                   {% else  %}
                        <div class="media-scope">
                             Status: Completed
                        </div>
                   {% endif %}
                    <!-- Event actions -->
                    <div class="media-actions">
                        <span>
                              <!-- Join -->
                               {%  if event.type =='INTEREST_SPECIFIC' and event_attributes['can_join'] %}
                                    <a class="btn-u btn-u-blue" href="/join_activity/?key={{ event.key.urlsafe() }}&action=Initiate">
                                          <span data-class="label">Request to Join</span>
                                    </a>

                               <!-- For Actipond initial release, you can only join Activities. Cannot convert an interest into an Activity -->
                               <!-- 'no interest to activity conversion' (for future: inserted a space between '%' and 'elif' below)
                               { % elif event.type =='INTEREST_FLEX' and event_attributes['can_join']  %}
                                     <a href="#cancel_modal" class="open-cancel-confirm-dialog btn btn-primary btn-mini" data-toggle="modal"
                                            data-id="{{ event.key.urlsafe()}}"">
                                            <span data-class="label">Join</span>
                                     </a>
                               END 'no interest to activity' conversion -->
                               {% elif event.type =='INTEREST_SPECIFIC' and event_attributes['can_cancel_join_request'] %}
                                     <a class="btn-u btn-u-blue" href="/join_activity/?key={{ event.key.urlsafe() }}&action=Cancel">
                                          <span data-class="label">Cancel Join Request</span>
                                     </a>
                               {% endif %}
                               <!-- Cancel / Delete -->
                               {% if  event_attributes['can_leave'] %}
                                   <a class="btn-u btn-u-blue" href="/leave_activity/?activity_key={{ event.key.urlsafe() }}">
                                       <span data-class="label">Leave</span>
                                   </a>
                               {% endif %}
                               {% if  event_attributes['can_cancel'] %}
                                   <a class="btn-u btn-u-blue" href="/cancel_activity/?activity_key={{ event.key.urlsafe() }}">
                                       <span data-class="label">Cancel</span>
                                   </a>
                               {% endif %}
                              <!-- Feedback-->
                              {% if  event_attributes['has_feedback']%}
                                 {% set feedback = event_attributes['feedback'] %}
                                 <a  class="btn-u btn-u-blue" href="/user_feedback/?userfeedback_key={{ feedback.key.urlsafe() }}">
                                            <span data-class="label">Provide feedback</span>
                                 </a>
                              {% endif %}
                         </span>
                    </div>
                 </div>
                <!-- Show participants Info-->
                {% if event.type == 'INTEREST_SPECIFIC'  and event.status != 'COMPLETE_NEEDS_FEEDBACK' %}
                    {% if activity_participants | length > 0 %}
                        <div class="media-comments  show" data-num-comments="1" data-class="comment-like-container">
                            <div class="arrow">
                                <b class="arrow-up-dark"></b>
                                <b class="arrow-up"></b>
                            </div>
                            <div class="media-thanks" data-class="like-container">
                                <p>
                                    <span class="comment-count"><i class="icon-star"></i></span>
                                    <span>Participants: {{ activity_participants | join(',') }}, Spots Remaining: {{ event_attributes['spots_remaining'] }}</span>
                                </p>
                            </div>
                        </div>
                    {% endif %}
                    <!-- Show Join Requests -->
                    {% if join_requests | length > 0 %}
                        <div class="media-comments  show" data-num-comments="1" data-class="comment-like-container">
                            <div class="arrow">
                                <b class="arrow-up-dark"></b>
                                <b class="arrow-up"></b>
                            </div>
                            <div class="media-thanks" data-class="like-container">
                                <p>
                                    <span class="comment-count"><i class="icon-star"></i></span>
                                    <span>Join Requests</span>
                                </p>
                            </div>
                        {% for request in join_requests %}
                            {% set request_details = request.key.urlsafe() | get_request_details %}
                            <div class="media-comment">
                                    <div class="media-object">
                                        {{ show_avatar(request_details['requester']) }}
                                    </div>
                                    <div class="media-body">
                                        <h4 class="media-heading">
                                            <span class="subject">
                                                <a href="/user_profile/?username={{ request_details['requester'] }}">{{ request_details['requester'] }}</a>
                                            </span>
                                        </h4>
                                        <div class="media-actions">
                                            <span>
                                                {%  if request_details['can_accept'] %}
                                                    <a class="btn-u btn-u-blue" href="/join_request/?request_key={{ request.key.urlsafe() }}&action=Accept">
                                                        <span data-class="label">Accept</span>
                                                    </a>
                                                {% endif %}
                                                {%  if request_details['can_reject'] %}
                                                    <a class="btn-u btn-u-blue" href="/join_request/?request_key={{ request.key.urlsafe() }}&action=Reject">
                                                        <span data-class="label">Reject</span>
                                                    </a>
                                                {% endif %}
                                            </span>
                                        </div>
                                    </div>
                            </div>
                        {% endfor %}
                         </div>
                    {% endif %}
                <!-- Show Matching activities -->
                {% elif event.type == 'INTEREST_FLEX' and event.username == username and matching_activities |  length  %}
                    <div class="media-comments  show" data-num-comments="1" data-class="comment-like-container">
                        <div class="arrow">
                             <b class="arrow-up-dark"></b>
                             <b class="arrow-up"></b>
                         </div>
                         <div class="media-thanks" data-class="like-container">
                             <p>
                                <span class="comment-count"><i class="icon-star"></i></span>
                                <span>Match found for you</span>
                             </p>
                         </div>
                    {% for match in matching_activities %}
                        {% set matching_activity = match.activity.get() %}
                        {% set activity_attributes = matching_activity.key.urlsafe() | event_attributes(username) %}
                        {% if matching_activity.status in ['CLOSED','CANCELLED','EXPIRED'] %}
                            {% continue %}
                        {% endif %}
                        <div class="media-comment">
                                    <div class="media-object">
                                        {{ show_avatar(matching_activity.username) }}
                                    </div>
                                    <div class="media-body">
                                    <h4 class="media-heading">
                                        <span class="subject">
                                            <a href="/activity_detail/?ID={{ matching_activity.key.urlsafe() }}">{{ matching_activity.category }}</a> with <a href="/user_profile/?username={{ matching_activity.username }}">{{ matching_activity | get_full_name}}</a>
                                        </span>
                                    </h4>

                                    <p data-class="post-content">
                                        Activity Location: {{ matching_activity.activity_location | default("Not set",True) }}
                                        <BR>
                                        Meeting Place: {{ matching_activity.meeting_place | default("Not set",True)}}
                                        <BR>
                                        Max # of participants: {{ event.max_number_of_people_to_join | default ("Not set",True)}}
                                    </p>
                                    <div class="media-actions">
                                        <span>
                                            {%  if activity_attributes['can_join'] %}
                                                <a class="btn-u btn-u-blue" href="/join_activity/?key={{ matching_activity.key.urlsafe() }}&action=Initiate">
                                                    <span data-class="label">Request to Join</span>
                                                </a>
                                                <a class="btn-u btn-u-blue" href="/join_activity/?key={{ matching_activity.key.urlsafe() }}&action=Ignore">
                                                    <span data-class="label">No Thanks</span>
                                                </a>
                                            {% endif %}
                                        </span>
                                    </div>
                                    </div>
                                </div>

                    {% endfor %}
                    </div>
               {% endif %}
            </div>
            <hr/>
{%- endmacro %}

{% macro show_avatar(username) -%}
    {% if username | hasAvatar %}
           <a href="/user/avatar/?user_name={{ username }}">
                <img class="avatar" src="/user/avatar/?user_name={{ username }}"/>
           </a>
     {% else %}
            <a href="../img/user.jpg">
                <img class="avatar" src="../img/user.jpg"/>
            </a>
     {% endif %}
{%- endmacro %}



