{% extends base_layout %}

{% block title %}
        {% trans %}Thank You!{% endtrans %} - {{app_name}}
{% endblock %}
{% block header_title %}
        
{% endblock %}

{% block content %}


   <div class="row-fluid">
        <div class="span12 coming-soon">
            <h1>Thank You!</h1>
            <p>Your feedback means the world to us! It helps us improve the service to make buildings feel alive.</p>
            <h2>Follow Us</h2>
            <p>Join us on a journey on Twitter <a href="http://twitter.com/JoinHour"> @JoinHour </a></p>

        </div>
    </div>
    <ul class="thumbnails team">
        <li class="span4">
            <div class="thumbnail-style">
                <img src="../img/2.x.One.jpg" alt="" />
                <p></p>
            </div>
        </li>
        <li class="span4">
            <div class="thumbnail-style">
                <img src="../img/2.x.Two.jpg" alt="" />
                <p></p>
            </div>
        </li>
        <li class="span4">
            <div class="thumbnail-style">
                <img src="../img/2.x.Three.jpg" alt="" />
                <p></p>
            </div>
        </li>
    </ul><!--/thumbnails-->
   

{% endblock %}

{% block mediaJS %}
    <script type="text/javascript">

    </script>
{% endblock %}

