{% extends base_layout %}

{% block title %}
        Select your post type - {{app_name}}
{% endblock %}
{% block header_title %}

{% endblock %}

{% block content %}

<h3>Post your Activity or an Interest</h3>


    <div class="row-fluid">
        <div class="span12">
        <div class="span4">
            <div class="headline"><h4>Post an Activity</h4></div>
                <ul class="unstyled">
                    <li><i class="icon-ok color-green"></i> People join you</li>
                    <li><i class="icon-ok color-green"></i> Control activity details</li>
                    <li><i class="icon-ok color-green"></i> Screen and accept join requests</li>
                </ul>
                <a href="../int" class="btn btn-primary btn-login">Post Your Activity</a>
        </div><!--/span4-->
        <div class="span2">
            <div class="headline"><h4>OR</h4></div>

        </div><!--/span4-->
        <div class="span4">
            <div class="headline"><h4>Announce Your Interest</h4></div>
                <ul class="unstyled">
                    <li><i class="icon-ok color-green"></i> Leave planning to someone else</li>
                    <li><i class="icon-ok color-green"></i> Set it and forget it approach</li>
                    <li><i class="icon-ok color-green"></i> We email you matches to review</li>
                    <li><i class="icon-ok color-green"></i> Browse through a list of options to join</li>
                    <li><i class="icon-ok color-green"></i> Join only activities you want</li>
                </ul>
                <a href="../int" class="btn btn-primary btn-login">Announce Your Interest</a>
        </div><!--/span4-->
        </div><!--/span12-->
    </div><!--/row-fluid--> 

    <div class="row-fluid">
        <div class="span12">
            <a href="../about" class="btn btn-primary btn-login">Here is how this works.</a>
        </div><!--/span12-->
    </div><!--/row-fluid-->
    
{% endblock %}

{% block mediaJS %}
<script type="text/javascript">

</script>
{% endblock %}

