{% extends base_layout %}

{% block title %}
        Select your post type - {{app_name}}
{% endblock %}
{% block header_title %}

{% endblock %}

{% block content %}

<h3>Post your Activity or an Interest</h3>


    <div class="row-fluid">
        <div class="span8">
        Need three big small big rows
        </div><!--/span8-->
        
        <div class="span4">
           
            <!-- Posting is Easy -->
            <div class="headline"><h4>Posting Is Easy</h4></div>
            <p>Set your interest and availability</p>
            <ul class="unstyled">
                <li><i class="icon-ok color-green"></i> Posts expire ...</li>
                <li><i class="icon-ok color-green"></i> Your post is auto deleted when your interest expires or activity starts</li>
                <li><i class="icon-ok color-green"></i> You can always cancel your post</li>
            </ul>

        </div><!--/span4-->
    </div><!--/row-fluid--> 


    
{% endblock %}

{% block mediaJS %}
<script type="text/javascript">

</script>
{% endblock %}

