{% extends base_layout %}

{% block header_title %}
    {% trans %}Sign Up{% endtrans %}
{% endblock %}

{% block content %}
<div class="body">
    <div class="container">     
        <div class="row-fluid margin-bottom-10">
            <form id="form_register" action="{{ url|safe }}" method="post" class="reg-page">
                <fieldset>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                <h3>Get connected with good people</h3>
                <div class="controls">    
                    <label>Property Name <span class="color-red">*</span></label>
                    <input id="building_name" type="text" class="span12" data-provide="typeahead" data-items="4" data-source='["River House",
"River Place North",
"River Place South",
"River Place West",
"River Place East",
"Crystal Towers",
"Meridian at Courthouse Commons (Phase I)",
"Oakwood Falls Church",
"Courtland Towers",
"Arlington Courthouse Place",
"The Belvedere",
"Randolph Towers",
"Post Pentagon Row",
"Crystal House I and 2",
"The Eclipse on Center Park",
"Meridian At Ballston",
"Clarendon 1021",
"The Continental",
"Potomac Towers",
"Windsor at Shirlington Village",
"Wildwood Park",
"Gramercy at Metropolitan Park",
"Archstone Courthouse Plaza",
"Lenox Club",
"Meridian at Pentagon City",
"Crystal Square",
"Rosslyn Heights",
"Dolley Madison Towers",
"Water Park Towers",
"Richmond Square",
"Quincy Plaza",
"The Atrium",
"Bennington, The",
"Avalon at Ballston - Washington Towers",
"1401 Joyce on Pentagon Row",
"Metropolitan At Pentagon City The",
"Hyde Park Condominiums",
"Dominion Plaza",
"Archstone Rosslyn",
"Station Square at Clarendon",
"The Odyssey",
"Residences At The Market Common, The",
"Archstone Pentagon City",
"Horizon House",
"Alta Vista Condominiums",
"Prime at Arlington Courthouse, The",
"Halstead Arlington, The",
"The Williamsburg",
"Courtland Park",
"Palatine apartments",
"Tower Villas",
"Turnberry Tower",
"IO Piazza by Windsor",
"IO Piazza",
"Parc Rosslyn",
"Madison at Ballston Station, The",
"The Residences at Liberty Center I",
"Archstone Virginia Square",
"Liberty Tower",
"Virginia Square Plaza",
"1001 EastView",
"South Hampton",
"2201 Wilson Blvd",
"Whitmore, The",
"Twenty400",
"Barton House",
"Crescent",
"Lofts 590, The",
"The Park at Courthouse",
"The Representative",
"Bella Vista",
"Gables 12 Twenty One",
"1020 N. Quincy St.",
"Lexington Square Condominiums 1 & 2",
"Park Adams",
"The Cavendish",
"The Phoenix at Clarendon Metro",
"Waterview - Condo",
"Windsor Plaza",
"Crystal Place",
"Crystal Park Condominiums",
"Virginia Square Condominiums",
"Crystal Gateway Condominiums",
"Summerwalk",
"Shirlington Crest",
"Woodbury Heights Condominiums",
"The Charleston",
"Lexington Square Condominiums 3 & 4",
"Falls Station",
"1800 Wilson Blvd.",
"Shirlington Village Condominiums",
"Ballston Park",
"The Hawthorn",
"1001 WestView",
"Wildwood Towers",
"Courthouse Hill",
"The Westlee",
"Barkley Condominiums",
"Ballston 880",
"Gaslight Square",
"2121",
"Amelia, The",
"Frederick at Courthouse, The",
"Hilltop House 100",
"Normandy House",
"Rhodes Hills Square",
"The Ridge House",
"Berkeley at Ballston",
"The Monroe",
"Hartford Apartments",
"Waterford House",
"1633 Colonial Terrace",
"Lyon Place at Clarendon Center",
"Clarendon Apartments   "]'>
                    <label>Email Address <span class="color-red">*</span></label>
                    <input id="email" type="text" class="span12" />
                </div>
                <div class="controls form-inline">
                    <label for="agree" class="checkbox"><input type="checkbox" value="y" name="agree" id="agree" class="input-xlarge focused required"/>&nbsp; I read the <a href="{{ uri_for("terms") }}" target="_blank">Privacy Policy</a> and agree with the <a href="{{ uri_for("terms") }}" target="_blank">Terms Of Service</a></label><BR><BR>
                    <button class="btn btn-primary" type="submit">Get me connected with neighbors</button>
                </div>
                <hr />
                <p><I>We value your privacy. We ask for just enough info to make meaningful connections.</I></p>
            </fieldset>
            </form>
        </div><!--/row-fluid-->
    </div><!--/container-->     
</div><!--/body-->

{% endblock %}

{% block mediaJS %}

    <script type="text/javascript">
        $().ready(function () {
            $("#form_register").validate({
                submitHandler: function (form) {
                    form.submit();
                },
                rules: {
                    password: 'required',
                    c_password: {
                        required: true,
                        equalTo: '#password'
                    }
                },
                errorPlacement: function (error, element) {
                    element.parent().parent().addClass("error");
                    error.addClass("help-inline").appendTo(element.parent());
                }
            });

            $("#password").passStrength({
                shortPassText: '{% trans %}Short Password{% endtrans %}',
                badPassText: '{% trans %}Insecure Password{% endtrans %}',
                goodPassText: '{% trans %}Good Password{% endtrans %}',
                strongPassText: '{% trans %}Secure Password{% endtrans %}'
            });

        });
    </script>
{% endblock %}


