{% extends base_layout %}

{% block header_title %}
    {% trans %}Sign Up{% endtrans %}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span6">
                <!-- TO DO form ID need to change -->
                <form id="form_register" action="{{ url|safe }}" method="post" class="well form-horizontal">

                    <fieldset>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                        <!-- TO DO put building names here, DB load in the future -->
                        Where do you live?
                        <input id="building_name" type="text" class="span3" style="margin: 0 auto;" data-provide="typeahead" data-items="4" data-source='["Alabama","Alaska","Arizona","Arkansas","California","Colorado","Connecticut","Delaware","Florida","Georgia","Hawaii","Idaho","Illinois","Indiana","Iowa","Kansas","Kentucky","Louisiana","Maine","Maryland","Massachusetts","Michigan","Minnesota","Mississippi","Missouri","Montana","Nebraska","Nevada","New Hampshire","New Jersey","New Mexico","New York","North Dakota","North Carolina","Ohio","Oklahoma","Oregon","Pennsylvania","Rhode Island","South Carolina","South Dakota","Tennessee","Texas","Utah","Vermont","Virginia","Washington","West Virginia","Wisconsin","Wyoming"]'> <BR>
                        What's your email?
                        <input id="email" type="text" class="span3" style="margin: 0 auto;" > <BR>
    
                        <div class="form-actions">
                            <label for="agree" class="control-label">
                                <input type="checkbox" value="y" name="agree" id="agree" class="input-xlarge focused required">
                                I read the <a href="{{ uri_for("terms") }}" target="_blank">Privacy Policy</a> and agree with the <a href="{{ uri_for("terms") }}" target="_blank">Terms Of Service</a>.
                            </label>
                        </div>


                        <div class="form-actions">
                        <button type="submit" class="btn btn-primary">{% trans %}Sign Up{% endtrans %}</button>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="span3">
                <I>Select your building to connect with neighbors.</I><BR><BR>

                <I>We value your privacy. We ask for just enough info to make meaningful connections.</I><BR>
            </div>

        </div>
    </div>


{% endblock %}

{% block mediaJS %}

    <script type="text/javascript">
        $().ready(function () {
            $("#form_register").validate({
                submitHandler: function (form) {
                    form.submit();
                },
                rules: {
                    password: 'required',
                    c_password: {
                        required: true,
                        equalTo: '#password'
                    }
                },
                errorPlacement: function (error, element) {
                    element.parent().parent().addClass("error");
                    error.addClass("help-inline").appendTo(element.parent());
                }
            });

            $("#password").passStrength({
                shortPassText: '{% trans %}Short Password{% endtrans %}',
                badPassText: '{% trans %}Insecure Password{% endtrans %}',
                goodPassText: '{% trans %}Good Password{% endtrans %}',
                strongPassText: '{% trans %}Secure Password{% endtrans %}'
            });

        });
    </script>
{% endblock %}


