{% extends base_layout %}

{% block title %}
    {% trans %}For Property Managers{% endtrans %} - {{app_name}}
{% endblock %}
{% block header_title %}
    {% trans %} {% endtrans %}
{% endblock %}

{% block content %}

<H3>People want to live and <EM>stay</EM> at multifamily properties that feel alive</H3> 
        <div>
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#pane1" data-toggle="tab"><B>Amenity Benefits for Residents</B></a>
                </li>
                <li><a href="#pane2" data-toggle="tab"><B>Cost Savings for Property Managers</B></a></li>
                <li><a href="#pane3" data-toggle="tab"><B>JoinHour at your Property</B></a></li>
            </ul>
        </div>
        <div class="tab-content">
            <div id="pane1" class="tab-pane active">
               <div id="events" class="media">
                    <!--JoinHour improves the quality of life by making it easy for neighbors to connect on demand. Residents feel part of the community when they interact with each other. JoinHour enables genuine social interactions by making it easy for residents to do ordinary activities together. The real-time nature of the service enables neighbors to connect on demand for in-person activities without planning ahead.

                -->

                    
                        <div class="row-fluid">
                            <div class="span4"><img src="../img/carousel-01-BikeRide.jpg" class="img-rounded"></div>
                            <div class="span5">
                                <p class="text-left">
                                  <UL>
                                    <LI><STRONG>JoinHour transforms multifamily properties into communities that thrive. </STRONG>
                                    <li><STRONG>The digital amenity makes it extraordinary easy for neighbors to meet and connect to do ordinary activities together. </STRONG>
                                    </UL>  
                                </p>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="span4">
                                <p class="text-left">
                                    <UL>
                                    <li>Your residents work long hours, spend long time commuting, most don't have their friends nearby.
                                    <li>People want to connect with others where they live.
                                    <li>And they want to be able to connect based on their interests and availability.
                                    </UL>  
                                </p>
                            </div>
                            <div class="span4"><img src="../img/carousel-01-BikeRide.jpg" class="img-rounded"></div>
                        </div>

                        <div class="row-fluid">
                            <div class="span4"><img src="../img/carousel-01-BikeRide.jpg" class="img-rounded"></div>
                            <div class="span5">
                                <p class="text-left">
                                  <UL>
                                    <li>Our research indicates that communities thrive when tenants connect with others to do routine activities (e.g., running) 
                                    <li>JoinHour is the only digital amenity that makes it easy for neighbors to connect in real-time.
                                    <li>Residents benefit from JoinHour, because it works the way people live: ordinary activities are planned and do on short notice.
                                    <li>The differentiator betwen what you have now and Joinhour is the real-time aspect.
                                    <li>Neighbors to connect on demand for in-person activities without planning ahead. 
                                    <LI>Social events sponsored by the property management are not enough to build a lively community.
                                    </UL>  
                                </p>
                            </div>
                        </div>           
               </div> <!-- id="id="events"" -->
            </div> <!-- id="pane1" -->
            <div id="pane2" class="tab-pane">
                <div id="events" class="media">
                    <div class="row-fluid">
                            <div class="span4"><img src="../img/carousel-01-BikeRide.jpg" class="img-rounded"></div>
                            <div class="span5">
                                <p class="text-left">
                                  <UL>
                                    <li>It's about retention.
                                    <li>It's about the quality of life.
                                    <li>Residents feel part of the community when they meaningfully interact with each other. 
                                    <li>JoinHour is the only digital amenity that makes it easy for neighbors to connect in real-time.
                                    <li>Residents benefit from JoinHour, because it works the way people live: ordinary activities are planned and do on short notice.
                                    <li>The differentiator betwen what you have now and Joinhour is the real-time aspect.
                                    <li>Neighbors to connect on demand for in-person activities without planning ahead. 
                                    <LI>Social events sponsored by the property management are not enough to build a lively community.
                                    </UL>  
                                </p>
                            </div>
                        </div>         
               </div>
            </div>
            <div id="pane3" class="tab-pane">
                <div id="events" class="media">
                    place holder for Invite
                </div>
            </div>
        </div><!-- /.tab-content -->
{% endblock %}



{% block mediaJS %}
    <script type="text/javascript">
        $().ready(function() {
            $("#form_contact").validate({
                errorPlacement: function(error, element) {
                    element.parent().parent().addClass("error");
                    error.addClass("help-inline").appendTo( element.parent() );
                }
            });
        });
    </script>
{% endblock %}

<a href="/Admin_Console?filter=Financial"><button type="button" >Financial</button></a>