{% extends base_layout %}

{% block title %}
    {% trans %}For Property Managers{% endtrans %} - {{app_name}}
{% endblock %}
{% block header_title %}
    {% trans %} {% endtrans %}
{% endblock %}

{% block content %}

<H3>People want to live and <EM>stay</EM> at multifamily properties that feel alive</H3> 
        <div>
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#pane1" data-toggle="tab"><B>Quality of Life</B></a>
                </li>
                <li><a href="#pane2" data-toggle="tab"><B>Tenant Retention</B></a></li>
                <li><a href="#pane3" data-toggle="tab"><B>Is this a Fit for your Property?</B></a></li>
            </ul>
        </div>
        <div class="tab-content">
            <div id="pane1" class="tab-pane active">
               <div id="events" class="media">
                    <!--JoinHour improves the quality of life by making it easy for neighbors to connect on demand. Residents feel part of the community when they interact with each other. JoinHour enables genuine social interactions by making it easy for residents to do ordinary activities together. The real-time nature of the service enables neighbors to connect on demand for in-person activities without planning ahead.

                -->

                    
                        <div class="row-fluid">
                            <div class="span4"><img src="../img/carousel-01-BikeRide.jpg" class="img-rounded"></div>
                            <div class="span5">
                                <p class="text-left"><STRONG>
                                <UL>
                                    <li>People want to connect with others where they live...
                                    <li>... based on their interests and availability.
                                    <li>This not a new trend; it's a basic human need.
                                    
                                </UL>  
                                </STRONG></p>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="span4">
                                <p class="text-left">
                                    <UL>
                                    <li>Your residents work long hours, spend long time commuting, many don't have their friends nearby.
                                    <li>It's difficult to find and meet neighbors with same interests.
                                    <li>And without JoinHour.com it's impossible to know who may be interested in doing an activity at the same time.
                                    </UL>  
                                </p>
                            </div>
                            <div class="span4"><img src="../img/carousel-05-play-outside.jpg" class="img-rounded"></div>
                        </div>
                        <div class="row-fluid">
                            <div class="span4"><img src="../img/carousel-04-tennis.jpg" class="img-rounded"></div>
                            <div class="span5">
                                <p class="text-left">
                                  <UL>
                                  
                                    <li><STRONG>The digital amenity makes it extraordinary easy for neighbors to meet and connect to do ordinary activities together. </STRONG>
                                    <li>Our research indicates that communities thrive when tenants connect with others to do routine activities (e.g., running). 
                                    <li>Residents benefit from JoinHour, because it works the way people live: ordinary activities are planned and do on short notice. 

                                    </UL>  
                                </p>
                            </div>
                        </div>           
               </div> <!-- id="id="events"" -->
            </div> <!-- id="pane1" -->
            <div id="pane2" class="tab-pane">
                <div id="events" class="media">
                    <div class="row-fluid">
                            <div class="span4"><img src="../img/carousel-01-BikeRide.jpg" class="img-rounded"></div>
                            <div class="span5">
                                <p class="text-left"><STRONG>
                                    JoinHour is key to resident retention without financial incentives:
                                  <UL>
                                    <LI>The amenity transforms multifamily properties into communities that thrive.
                                    <LI>It builds an emotional attachment between residents - deciding to leave becomes an emotional decision. 
                                    </UL>  
                                 </STRONG></p>
                            </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span4">
                            <p class="text-left">
                                    <UL>
                                    <li>Residents feel part of the community when they meaningfully interact with each other. 
                                    <li>Residents benefit from JoinHour, because it works the way people live: ordinary activities are planned and do on a short notice. 
                                    <li>It reduces the costs of the ongoing social programs hosted by the management.
                                    </UL>  
                            </p>
                        </div>
                        <div class="span4"><img src="../img/carousel-05-play-outside.jpg" class="img-rounded"></div>
                    </div>         
               </div>
            </div>
            <div id="pane3" class="tab-pane">
                <div id="events" class="media">
                    <div class="well">
                    JoinHour is a candidate for your property if you're interested in reducing the turnover rate without financial incentives while improving the quality of life for the tenants. 
                    <BR><BR>
                    <p class="text-center"><STRONG>Call (202) MID-FIRE or email: we+thrive @ JoinHour.com </STRONG></p>
                    </div>
                    

                    <BR><BR><BR><BR><BR><BR><BR><BR>
                </div>
            </div>
        </div><!-- /.tab-content -->
{% endblock %}



{% block mediaJS %}
    <script type="text/javascript">
        $().ready(function() {
            $("#form_contact").validate({
                errorPlacement: function(error, element) {
                    element.parent().parent().addClass("error");
                    error.addClass("help-inline").appendTo( element.parent() );
                }
            });
        });
    </script>
{% endblock %}

<a href="/Admin_Console?filter=Financial"><button type="button" >Financial</button></a>