{% extends base_layout %}

{% block header_title %}
    {% trans %}Sign Up{% endtrans %}
{% endblock %}

{% block content %}

	<div class="container">
		<div class="row-fluid margin-bottom-10">

            <form id="form_register" action="{{ url|safe }}" method="post" class="reg-page">
            	<h3>Got <a href="/about">code</a>? Sign-up now.</h3>
                <fieldset>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                <div class="controls">
                    <label>User Name</label>
                    {{ macros.field(form.username, label=_("Username"), placeholder=_(" ")+" "+_(" "), class="input-xlarge focused required") }}
                    <label>First Name</label>
                    {{ macros.field(form.name, label=_("Name"), placeholder=_(" ")+" "+_(" "), class="input-xlarge focused") }}
                    <label>Last Name</label>
                    {{ macros.field(form.last_name, label=_("Last Name"), placeholder=_(" ")+" "+_(" "), class="input-xlarge focused") }}
                    <label>Email Address <span class="color-red">*</span></label>
                    {{ macros.field(form.email, label=_("Email"), placeholder=_(" ")+" "+_(" "), class="input-xlarge focused required email", type="email") }}
                    {{ macros.field(form.security_code, label=_("Security Code"), placeholder=_(" ")+" "+_(" ")) }}
                    <label>Password <span class="color-red">*</span></label>
                    {{ macros.field(form.password, label=_("Password"), placeholder=_(" ")+" "+_(" "), class="input-xlarge focused required", type="password") }}
                    <label>Confirm Password <span class="color-red">*</span></label>
                    {{ macros.field(form.c_password, label=_("Confirm Password"), placeholder=_("   "), class="input-xlarge focused required", type="password") }}
                </div>
                <div class="controls form-inline">
                    <input type="checkbox" value="y" name="agree" id="agree" class="input-xlarge focused required">
                    <label>I read <a href="{{ uri_for("terms") }}" target="_blank">Terms and Privacy Policy</a></label>
                    <button class="btn-u pull-right" type="submit">Sign Up</button>
                </div>
                <hr />
				<BR>
                    <p>Already Signed Up? Click <a href="{{ uri_for("login") }}" class="color-blue">Sign In</a> to login your account.</p>
                </fieldset>
            </form>
        </div><!--/row-fluid-->
	</div><!--/container-->

{% endblock %}

{% block mediaJS %}
    <script type="text/javascript">
        $().ready(function () {
            $("#form_register").validate({
                submitHandler: function (form) {
                    form.submit();
                },
                rules: {
                    password: 'required',
                    c_password: {
                        required: true,
                        equalTo: '#password'
                    }
                },
                errorPlacement: function (error, element) {
                    element.parent().parent().addClass("error");
                    error.addClass("help-inline").appendTo(element.parent());
                }
            });

            $("#password").passStrength({
                shortPassText: '{% trans %}Short Password{% endtrans %}',
                badPassText: '{% trans %}Insecure Password{% endtrans %}',
                goodPassText: '{% trans %}Good Password{% endtrans %}',
                strongPassText: '{% trans %}Secure Password{% endtrans %}'
            });
        });
    </script>
    <!-- JS Page Level -->
    <script type="text/javascript" src="/assets/js/app.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function() {
            App.init();
        });
    </script>
{% endblock %}


