{% extends base_layout %}

{% block title %}
    {% trans %}Live Activity Board{% endtrans %} - {{ app_name }}
{% endblock %}
{% block header_title %}
    {% trans %}Live Activity Board{% endtrans %}
{% endblock %}

{% block content %}

   <h4 class="section-title">
        Events at  {{ building }}
    </h4>

    <div class="section-stats">
        <hr/>
         <span class="stat">
          <a href="/directory/">48 Activities</a>
        </span>
        &middot;
        <span class="stat">
            <a href="/nearby_neighborhoods_prefs/">
                258 Nearby neighbors
            </a>
        </span>
        <hr/>
     </div>
    <div class="media">
    {% for e in events %}
        <div class="media-object">
            <a href="/user_profile/?username={{ e.username }}">
                <!--img class="avatar" src="../img/user.jpg"/-->
                <img class="avatar" src="/user/avatar/?user_name={{ e.username}}" />
            </a>
        </div>
        <div class="media-body">
            <div data-class="main-content-area">
                <h4 class="media-heading">
                    <span class="subject">
                        <a href="/activity_detail/?ID={{ e.key.urlsafe() }}">{{ e.category }}</a>
                    </span>
                    <span class="timestamp">{{ e.date_entered | dateformat  }}</span>
                </h4>
                <h5 class="media-author">
                    <span class="user-name"><a href="/user_profile/?username={{ e.username }}">Aparup Banerjee</a></span>
                    <span class="media-location"> {{ building }} </span>
                </h5>
                <p data-class="post-content">
                    {{ e.note }}
                </p>
                <div class="media-scope">
                    Starting in  {{ e.key.urlsafe() |expires_in  | minute_format}}  for {{ e.duration }} minutes
                </div>
                <div class="media-actions">
                     <span>
                        {% if e.type ==  'ACTIVITY' %}
                            <a class="btn btn-primary btn-mini" href="/join_activity/?key={{ e.key.urlsafe() }}">
                                <span data-class="label">Join</span>
                                <span data-class="count" class="count">{{e.key.urlsafe() | count_participants  }}</span>
                            </a>
                        {% else %}
                            <a class="btn btn-primary btn-mini" href="/join_activity/?key={{ e.key.urlsafe() }}">
                                <span data-class="label">Convert to Activity</span>
                            </a>
                        {% endif %}
                     </span>
                </div>
            </div>

        </div>
        <hr/>
    {% endfor %}
    </div>

{% endblock %}

{% block mediaJS %}
    <script type="text/javascript">
        $().ready(function () {
            $("#form_contact").validate({
                errorPlacement: function (error, element) {
                    element.parent().parent().addClass("error");
                    error.addClass("help-inline").appendTo(element.parent());
                }
            });
            $(document).on("click", ".open-cancel-confirm-dialog", function () {
                var interest_id = $(this).data('id');
                $(".modal-body #interest_id").val(interest_id);
                $('#cancel_modal').modal('show');
            });
        });
    </script>
{% endblock %}

