{% extends base_layout %}

{% block title %}
    {% trans %}Live Activity Board{% endtrans %} - {{ app_name }}
{% endblock %}
{% block header_title %}
    {% trans %}Live Activity Board of {{ building }}{% endtrans %}
{% endblock %}
{% block content %}
    {% include "interest2activity_popup.html" %}
    <hr/>
    <div id="events" class="media">
        <cursor id="events_cursor" hasmore='{{ more }}' next_cursor='{{ cursor.urlsafe() }}'/>
        {% for e in events %}
                <div class="media-object">
                    <a href="/user_profile/?username={{ e.username }}">
                        <!--img class="avatar" src="../img/user.jpg"/-->
                        <img class="avatar" src="/user/avatar/?user_name={{ e.username }}"/>
                    </a>
                </div>
                <div class="media-body">
                    <div data-class="main-content-area">
                        <h4 class="media-heading">
                    <span class="subject">
                        <a href="/activity_detail/?ID={{ e.key.urlsafe() }}">{{ e.category }}</a>
                    </span>
                            <span class="timestamp">{{ e.date_entered | dateformat }}</span>
                        </h4>
                        <h5 class="media-author">
                        <span class="user-name">Posted by <a
                                href="/user_profile/?username={{ e.username }}">{{ e.username }}</a></span>
                        </h5>

                        <p data-class="post-content">
                            {{ e.note }}
                        </p>

                        <div class="media-scope">
                            Starting in {{ e.key.urlsafe() |expires_in  | minute_format}} for {{ e.duration }} minutes
                        </div>
                        <div class="media-actions">
                     <span>
                        {% if e.type ==  'ACTIVITY' %}
                            {% set activity_display_status = e.key.urlsafe() | display_status(user_id) %}

                            {% if activity_display_status == 'JOIN' %}
                                <a class="btn btn-primary btn-mini " href="/join_activity/?key={{ e.key.urlsafe() }}">
                                    <span data-class="label">Join</span>
                                </a>
                            {% else %}
                                <a class="btn btn-inverse btn-mini liked"  }}">
                                <span data-class="label">{{ activity_display_status }}</span>
                                </a>
                            {% endif %}
                        {% else %}
                            {% if e.status == 'INITIATED' %}
                                <a class="open-cancel-confirm-dialog btn btn-primary btn-mini" data-toggle="modal"
                                   data-id="{{ e.key.urlsafe()}}"">
                                <span data-class="label">Convert to Activity</span>
                                </a>
                            {% endif %}

                        {% endif %}
                     </span>
                        </div>
                    </div>
                    {% if e.type == 'ACTIVITY' and e.status != 'INITIATED' %}
                        {% set activity_participants = e.key.urlsafe() | get_all_companions %}
                        {% if activity_participants | length > 0 %}
                            <div class="media-comments  show" data-num-comments="1" data-class="comment-like-container">
                                <div class="media-thanks" data-class="like-container">
                                    <p>
                                        <span class="comment-count"><i class="glyphicon-star"></i></span>
                                        {% if  activity_participants | length > 1 %}
                                            <span>{{ activity_participants | join }} have joined</span>
                                        {% else %}
                                            <span>{{ activity_participants | join }} has joined</span>
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                        {% endif %}

                    {% endif %}
                </div>
                <hr/>
        {% endfor %}
        {% if cursor %}
            <a href="/activity/?cursor={{cursor}}"> </a>
        {% endif %}
    </div>

{% endblock %}

{% block mediaJS %}
    <script type="text/javascript">
        var cursor = $('#events_cursor').attr("next_cursor") ;
        var more = $('#events_cursor').attr("hasMore");
        $().ready(function () {
            $("#form_contact").validate({
                errorPlacement: function (error, element) {
                    element.parent().parent().addClass("error");
                    error.addClass("help-inline").appendTo(element.parent());
                }
            });
            $(document).on("click", ".open-cancel-confirm-dialog", function () {
                var interest_id = $(this).data('id');
                $(".modal-body #interest_id").val(interest_id);
                $('#cancel_modal').modal('show');
            });
        });
        $(window).paged_scroll({
                handleScroll: function (page, container, doneCallback)
                {
                    if(more == 'True')
                    {
                        $.get("/append_event_list/?cursor="+cursor,function(data)
                        {
                            html = $.parseHTML( data )
                            more = $('#events_cursor',  html).attr('hasMore');
                            cursor = $('#events_cursor', html).attr('next_cursor')
                            $('#events').append(data);
                        });
                    }
                    return true
                },
                pagesToScroll : null,
                triggerFromBottom: '50',
                loading:{
                    html  :''
                },
                loader: '<div class="loader"></div>',
                debug: true,
                targetElement: $('#events')

            });

    </script>
{% endblock %}

