{% extends base_layout %}

{% block title %}
    {% trans %}Live Board{% endtrans %} - {{ app_name }}
{% endblock %}
{% block header_title %}
    {% trans %}Live Board of {{ building }}{% endtrans %}
{% endblock %}
{% block content %}

    <hr/>
    {% include "interest2activity_popup.html" %}
    <div id="events" class="media">
       {% include "event_list.html" %}
    </div>

{% endblock %}

{% block mediaJS %}
    <script type="text/javascript">
        var cursor = $('#events_cursor').attr("next_cursor") ;
        var more = $('#events_cursor').attr("hasMore");
        $().ready(function () {
            $("#form_contact").validate({
                errorPlacement: function (error, element) {
                    element.parent().parent().addClass("error");
                    error.addClass("help-inline").appendTo(element.parent());
                }
            });
            $(document).on("click", ".open-cancel-confirm-dialog", function () {
                var interest_id = $(this).data('id');
                $(".modal-body #interest_id").val(interest_id);
                $('#cancel_modal').modal('show');
            });
        });
        $(window).paged_scroll({
                handleScroll: function (page, container, doneCallback)
                {
                    if(more == 'True')
                    {
                        $.get("/append_event_list/?cursor="+cursor,function(data)
                        {
                            html = $.parseHTML( data )
                            more = $('#events_cursor',  html).attr('hasMore');
                            cursor = $('#events_cursor', html).attr('next_cursor')
                            $('#events').append(data);
                        });
                    }
                    return true
                },
                pagesToScroll : null,
                triggerFromBottom: '50',
                loading:{
                    html  :''
                },
                loader: '<div class="loader"></div>',
                debug: true,
                targetElement: $('#events')

            });

    </script>
{% endblock %}

