{% extends base_layout %}

{% block title %}
        {% trans %}Thank you{% endtrans %} - {{app_name}}
{% endblock %}
{% block header_title %}
        {% trans %}Thank you.{% endtrans %}
{% endblock %}

{% block content %}
Thank you for the tip. Now go sign up your friends!
{% endblock %}

{% block mediaJS %}
<script type="text/javascript">
    $().ready(function() {
        $("#form_contact").validate({
            errorPlacement: function(error, element) {
                element.parent().parent().addClass("error");
                error.addClass("help-inline").appendTo( element.parent() );
            }
        });
    });
</script>
{% endblock %}

