{% extends base_layout %}

{% block title %}
        {% trans %}Tip{% endtrans %} - {{app_name}}
{% endblock %}
{% block header_title %}
        {% trans %}The service is free, but we live on tips{% endtrans %}
{% endblock %}

{% block content %}
<H3>Insert a Token of Gratitude Here</H3>
<div class="alert alert-info"><i class="icon-gift"></i> 
Tips are the best indicator of the value we provide. If there is one thing we track, it's the people who tips us, so that we can offer them preferential treatment in the future. <B>Your gratitude fuels our passion</B>. And we shake the tip jar every day. Thank you! 
</div>


<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="2XD675VMWXSE8">
<table>
<tr><td><input type="hidden" name="on0" value="Token of Gratitude">Token of Gratitude</td></tr><tr><td><select name="os0">
    <option value="Buy us a soda">Buy us a soda $1.00 USD</option>
    <option value="Buy us gummy bears">Buy us gummy bears $2.75 USD</option>
    <option value="Buy us a drink!">Buy us a drink! $5.00 USD</option>
    <option value="Buy us inspiration">Buy us inspiration $10.00 USD</option>
    <option value="Buy us ability to connect others">Buy us ability to connect others $20.00 USD</option>
</select> </td></tr>
<tr><td><input type="hidden" name="on1" value="Why you love this:">Why you love this:</td></tr><tr><td><input type="text" name="os1" maxlength="200"></td></tr>
</table>
<input type="hidden" name="currency_code" value="USD">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_paynow_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>


Be warned: a high roller tip will result in a thank you email, phone call, or a thank you card from us.
<BR>
<BR>
<H3>I'm broke!</H3>
But I'd love to leave you <a href="/love/"><button>an awesome note</button></a> for the world to see why I love JoinHour!
<BR>
<BR><BR>
<BR>
{% endblock %}

{% block mediaJS %}
<script type="text/javascript">
    $().ready(function() {
        $("#form_contact").validate({
            errorPlacement: function(error, element) {
                element.parent().parent().addClass("error");
                error.addClass("help-inline").appendTo( element.parent() );
            }
        });
    });
</script>
{% endblock %}


