{% extends base_layout %}

{% block title %}
    {% trans %}User Profile{% endtrans %} - {{app_name}}
{% endblock %}

{% block header_title %}
        {% trans %}User Profile{% endtrans %}
{% endblock %}

{% block content %}
    <h4>{{ user.name  }} {{ user.last_name  }}</h4>
    <div class="hero-unit home_bp">
        <div class="row">
            <span class=" badge badge-warning">{{ twitter_followers_count }} followers</span> <span class=" badge badge-info">{{ twitter_friends_count }} friends</span>
        </div>
    </div>

{% endblock %}


