{% extends base_layout %}

{% block title %}
    {% trans %}Feedback{% endtrans %} - {{ app_name }}
{% endblock %}
{% block header_title %}
    {% trans %}Feedback{% endtrans %}
{% endblock %}

{% block content %}
<div class="container">
    <h3>Please rate your activity experience</h3>

    <div id="companion_ship_popup" class="modal hide fade">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="false">&times;</button>
            <h3>Rate your companions</h3>
        </div>
        <table id="companion_ship_ratings" class="table table-striped table-bordered">
             <tr>
                  <th>Companion</th>
                  <th>Rating</th>
             </tr>
            {% for companionship_rating in companion_ship_ratings %}
                <tr>
                    <td>
                        {{ companionship_rating.ratee.get().username }}
                    </td>
                    <td>
                        <a class="x-editable" href="#" id="rating" data-type="select" data-pk="{{ companionship_rating.key.urlsafe() }}"  data-title="Enter Rating">{{ companionship_rating.rating }}</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <form id="form_feedback" action="{{ url|safe }}" method="post" class="well form-horizontal">
        <input type="hidden" name="userfeedback_key" value="{{ user_feedback.key.urlsafe() }}">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
        <div class="control-group">
            <label class="control-label" for="inputEmail">Activity</label>
            <div class="controls">
                <span class="input-xlarge uneditable-input">{{ user_feedback.activity.get().category }}</span>
            </div>
        </div>
        <div class="control-group">
           <label class="control-label" for="activityExp">Activity Experience</label>
           <div class="controls">
               <label class="radio inline">
                    <input type="radio" name="activity_exp" value="NEUTRAL" >Neutral</input>
                </label>
                <label class="radio inline">
                    <input type="radio" name="activity_exp" value="NEGATIVE">Negative</input>
                </label>

                <label class="radio inline">
                    <input type="radio" name="activity_exp" value="POSITIVE">Positive</input>
                </label>
               <label class="radio inline">
                    <input type="radio" name="activity_exp" value="VERY_POSITIVE">Very positive</input>
                </label>
               <label class="radio inline">
                    <input type="radio" name="activity_exp" value="SUPER_POSITIVE" checked>Super positive</input>
                </label>
            </div>
        </div>
        <!-- We're not rating companions for now
        <div class="control-group">
            <div class="controls">
                <span class="link inline"><a href="#companion_ship_popup" class="open-cancel-confirm-dialog" data-toggle="modal">Rate your companions</a></span>
            </div>
        </div>
        -->
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn-u btn-u-blue">Provide Anonymous Feedback</button>
            </div>
        </div>
    </form>
    <!--h4>Rate your companion</h4>
    <div class="hero-unit">
        <table id="companion_ship_ratings" class="table table-striped table-bordered">
             <tr>
                  <th>Companion</th>
                  <th>Rating</th>
             </tr>
            {% for companionship_rating in companion_ship_ratings %}
                <tr>
                    <td>
                        <a href="/user_profile/?username={{ companionship_rating.ratee.get().username }}">{{ companionship_rating.ratee.get().username }}</a>
                    </td>
                    <td>
                        <a class="x-editable" href="#" id="rating" data-type="select" data-pk="{{ companionship_rating.key.urlsafe() }}"  data-title="Enter Rating">{{ companionship_rating.rating }}</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div-->

</div><!--/container-->
{% endblock %}

{% block mediaJS %}
    <script type="text/javascript">
        $().ready(function () {
            $("#form_contact").validate({
                errorPlacement: function (error, element) {
                    element.parent().parent().addClass("error");
                    error.addClass("help-inline").appendTo(element.parent());
                }
            });
        });

        $('#companion_ship_ratings td .x-editable').editable({
            type: 'select',
            url: '/companion_ship_rating_service.update_rating',
            title: 'Enter Rating',
            ajaxOptions: {
                type: 'POST',
                dataType: 'json',
                contentType: 'application/json'
            },
            params: function(params) {

                    var j={"key":params.pk,"rating":params.value};
                    return JSON.stringify(j);
            },
            source: [
              {value: 'INAPPROPRIATE', text: 'In Appropriate'},
              {value: 'NO_SHOW', text: 'No Show'},
              {value: 'NEUTRAL', text: 'Neutral'},
              {value: 'GOOD', text: 'Good'},
              {value: 'VERY_GOOD', text: 'Very Good'},
              {value: 'OUTSTANDING', text: 'Outstanding'}
           ]
        });

    </script>

    <script type="text/javascript" src="/assets/js/app.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function() {
            App.init();
        });
    </script>
{% endblock %}

