{% extends base_layout %}

{% block title %}
    {% trans %}User Profile{% endtrans %} - {{ app_name }}
{% endblock %}

{% block header_title %}
    {% trans %}User Profile{% endtrans %}
{% endblock %}

{% block content %}
    <div role="main" class="span single-column ">
        <div class="container">
            <div class="row">
                <div class="basic-info">
                    {{ macros.show_avatar(username) }}
                    <h4>
                        <span class="user-name">{{ user.name }} {{ user.last_name }}</span>
                    </h4>
                    <h5>
                        {{ user.username }}
                    </h5>
                </div>
                <div class="more-info">
                    <h4>About</h4>
                    <dl class="dl-horizontal">
                        <dt>About me</dt>
                        <dd>

                            <span class="meta">{{ user.about_me }}</span>

                        </dd>
                        <dt>My Interests</dt>
                        <dd>
                            <span class="meta">{{ user.interests }}</span>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


