<!DOCTYPE html>
<!--[if IE 7]> <html lang="en" class="ie7"> <![endif]-->  
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->  
<head>
    <title>JoinHour | Record breaking resident retention through communities that feel alive</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="JoinHour | Record breaking resident retention through communities that feel alive.">
    <meta name="author" content="Firebrand Fuse LLC">

    <!-- CSS Global Compulsory-->
    <link rel="stylesheet" href="/assets/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/headers/header1.css">
    <link rel="stylesheet" href="/assets/plugins/bootstrap/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="/assets/css/style_responsive.css">
    <link rel="shortcut icon" href="favicon.ico">        
    <!-- CSS Implementing Plugins -->    
    <link rel="stylesheet" href="/assets/plugins/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="/assets/plugins/flexslider/flexslider.css" type="text/css" media="screen">
    <link rel="stylesheet" href="/assets/plugins/parallax-slider/css/parallax-slider.css" type="text/css">
    <!-- CSS Theme -->    
    <link rel="stylesheet" href="/assets/css/themes/blue.css" id="style_color">
    <link rel="stylesheet" href="/assets/css/themes/headers/header1-blue.css" id="style_color-header-1">
</head>	

<body>
 

<!--=== Top ===-->    
<div class="top">
    <div class="container">         
        <ul class="loginbar pull-right">
            <li><i class="icon-globe"> </i> <a href="why.html">About</a></li>   
            <!--=== JH: Reserved 
            <li class="devider">&nbsp;</li>
            <li><a href="#" class="login-btn">Sign Up</a></li>  
            <li class="devider">&nbsp;</li>
            <li><a href="#" class="login-btn">Login</a></li> 
            ===-->   
        </ul>
    </div>      
</div><!--/top-->
<!--=== End Top ===-->    

<!--=== Header ===-->
<div class="header">               
    <div class="container"> 
        <!-- Logo -->       
        <div class="logo">                                             
            <a href="index.html"><img id="logo-header" src="../img/logo1-default.png" alt="Logo"></a>
        </div><!-- /logo -->        
                                    
        <!-- Menu -->       
        <div class="navbar">                                
            <div class="navbar-inner">                                  
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a><!-- /nav-collapse -->                                  
                <div class="nav-collapse collapse">                                     
                    <ul class="nav top-2">
                        <li class="active">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Property Managers
                                <b class="caret"></b>                            
                            </a>
                            <ul class="dropdown-menu">
                                <li class="active"><a href="get.html">Get JoinHour</a></li>
                                <li><a href="whyitworks.html">Why It Works</a></li>
                                <li><a href="costsavings.html">Get Cost Savings</a></li>
                            </ul>
                            <b class="caret-out"></b>                        
                        </li>
                
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Get It
                                <b class="caret"></b>                            
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="get.html">Get JoinHour</a></li>
                            </ul>
                            <b class="caret-out"></b>                        
                        </li>
                    </ul>
                </div><!-- /nav-collapse -->                                
            </div><!-- /navbar-inner -->
        </div><!-- /navbar -->                          
    </div><!-- /container -->               
</div><!--/header -->      
<!--=== End Header ===-->



<!--=== Purchase Block ===-->
<div class="row-fluid purchase margin-bottom-30">
    <div class="container">
		<div class="span9">
            <span>We all experienced this: hundreds of people live under the same roof, but everyone feels like a stranger</span>
            <p>Residents in multifamily buildings want meaningful in-person connections with neighbors around them – not social networks or messages, or small talk in an elevator. We decided to fix this problem by making it easy for people to connect on demand based on their interests and availability. JoinHour works the way residents really want to live.
            </p>

            <blockquote class="hero-unify">
                <p>"It is the people around us, and the most common ways we have of meeting them, of being with them ... that make it possible for us to be alive."</p>
                <small>Christopher Alexander - Professor Emeritus at the University of California, Berkeley. Practicing Architect and Builder.</small>
            </blockquote>
        </div>
        <a href="get.html" class="btn-buy hover-effect">Let's Fix This</a>
    </div>
</div><!--/row-fluid-->
<!-- End Purchase Block -->





<div class="container">     
    <div class="row-fluid privacy">
        <p class="lead"><em>Behind the Scenes</em><p>
        <p>We're a team of 4+4 located in Washington D.C. and San Francisco. We're united by the desire to make properties feel alive by making it incredible easy for residents to connect. Our service makes multifamily buildings feel like home - and that - has a lasting impact on people. We're looking for feedback, partners, collaborators, thought leaders, and comments. Send us a <a href="get.html">note</a>. Thank you for reading. 
</p><br />


                   
    </div><!--/row-fluid-->        
</div><!--/container-->     
<!--=== End Content Part ===-->





<!--=== Content Part ===-->
<div class="container">	
	<!-- Service Blocks -->
	<div class="row-fluid">
    	<div class="span4">
    		<div class="service clearfix">
                <i class="icon-thumbs-up"></i>
    			<div class="desc">
    				<h4><a href="whyitworks.html">JoinHour Works!</a></h4>
                    <p><a href="whyitworks.html">This digital amenity was designed from the ground up to facilitate in-person connections between residents.</a></p>
    			</div>
    		</div>	
    	</div>
    	<div class="span4">
    		<div class="service clearfix">
                <i class="icon-cogs"></i>
    			<div class="desc">
    				<h4><a href="get.html">Does It Fit?</a></h4>
                    <p><a href="get.html">Give us the privilege of speaking with you. We want to ensure JoinHour is a fit for your property. </a></p>
    			</div>
    		</div>	
    	</div>
    	<div class="span4">
            <div class="service clearfix">
                <i class="icon-money"></i>
                <div class="desc">
                    <h4><a href="costsavings.html">Get Record Breaking Retention Rate</a></h4>
                    <p><a href="costsavings.html">The service builds an emotional attachment between residents - deciding to renew the lease becomes an non-financial decision. </a></p>
                </div>
            </div>  
        </div>	    
	</div><!--/row-fluid-->
	<!-- //End Service Blokcs -->

    
	

</div><!--/container-->		
<!-- End Content Part -->

<!--=== Footer ===-->
<div class="footer">
	<div class="container">
		<div class="row-fluid">
			<div class="span4">
                <!-- About -->
		        <div class="headline"><h3>About</h3></div>	
				<p class="margin-bottom-25">JoinHour is an incredible digital amenity. It breaks resident retention records by growing communities that feel alive.</p>	

	            <!-- Monthly Newsletter -->
		        <div class="headline"><h3>Success Formula</h3></div>	
				<p>Our secret recipe: Ordinary Activities + Good People + JoinHour = Buildings That Feel Alive</p>
                <!-- JH: Save for later
				<form class="form-inline">
					<div class="input-append">
						<input type="text" placeholder="Email Address" class="input-medium">
						<button class="btn-u">Subscribe</button>
					</div>
				</form>		
                -->					
			</div><!--/span4-->	
			
			<div class="span4">
                <div class="posts">
                    <div class="headline"><h3>Our Philosophy</h3></div>
                    <dl class="dl-horizontal">
                        <dt><a href="#"><img src="/assets/img/sliders/elastislide/6.jpg" alt="" /></a></dt>
                        <dd>
                            <p><a href="#">Smaller Groups, Frequent Engagements: Ideal group size to cary a conversation is 2.7 people. </a></p> 
                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                    <dt><a href="#"><img src="/assets/img/sliders/elastislide/10.jpg" alt="" /></a></dt>
                        <dd>
                            <p><a href="#">Companionships, not friendships: Routine activities don't require friendships to enjoy. Just good people and light trust to ride an elevator together.</a></p> 
                        </dd>
                    </dl>
                </div>
			</div><!--/span4-->

			<div class="span4">
	            <!-- Monthly Newsletter -->
		        <div class="headline"><h3>Contact Us</h3></div>	
                <address>
					Firebrand Fuse LLC  <br />
					4201 Wilson Blvd. <br />
					Suite #110-355  <br />
                    Arlington, VA 22203, USA <br />
                    Phone: 202 642 3473 <br />
					Email: <a href="mailto:we+pub@JoinHour.com" class="">we+pub@JoinHour.com</a>
                </address>

                <!-- Stay Connected -->
		        <div class="headline"><h3>Stay Connected</h3></div>	
                <ul class="social-icons">
                    <li><a href="https://twitter.com/joinhour" data-original-title="Twitter" class="social_twitter"></a></li>
                </ul>
			</div><!--/span4-->
		</div><!--/row-fluid-->	
	</div><!--/container-->	
</div><!--/footer-->	
<!--=== End Footer ===-->

<!--=== Copyright ===-->
<div class="copyright">
	<div class="container">
		<div class="row-fluid">
			<div class="span8">						
	            <p>2013 &copy; Firebrand Fuse LLC. <a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a></p>
			</div>
			<div class="span4">	
                <!--JH Temp Removal   
				<a href="index.html"><img id="logo-footer" src="/assets/img/logo2-default.png" class="pull-right" alt="" /></a>
                -->
			</div>
		</div><!--/row-fluid-->
	</div><!--/container-->	
</div><!--/copyright-->	
<!--=== End Copyright ===-->

<!-- JS Global Compulsory -->			
<script type="text/javascript" src="/assets/js/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="/assets/js/modernizr.custom.js"></script>
<script type="text/javascript" src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<!-- JS Implementing Plugins -->           
<script type="text/javascript" src="/assets/plugins/flexslider/jquery.flexslider-min.js"></script>
<script type="text/javascript" src="/assets/plugins/parallax-slider/js/modernizr.js"></script>
<script type="text/javascript" src="/assets/plugins/parallax-slider/js/jquery.cslider.js"></script>
<script type="text/javascript" src="/assets/plugins/back-to-top.js"></script>
<!-- JS Page Level -->           
<script type="text/javascript" src="/assets/js/app.js"></script>
<script type="text/javascript" src="/assets/js/pages/index.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function() {
      	App.init();
        App.initSliders();
        Index.initParallaxSlider();
    });
</script>
<!--[if lt IE 9]>
    <script src="assets/js/respond.js"></script>
<![endif]-->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-42221962-1', 'joinhour.com');
  ga('send', 'pageview');

</script>
</body>
</html>	